<!DOCTYPE html>
<html ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="attitudeController">
        <% include navbar %>
        <h1>Attitude Selection</h1>
        <p>On this page please input the altitude at which you would like to take measurements, and the maximum spatial resolution of your instrument. With this information we will calculate the required angle of knowledge and angle of control for your mission. This will allow us to search for acceptable attitude control systems.</p>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h3>User Input</h3>
                Altitude:
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="100" data-ng-model="attitude" valid-number/>
                    <div class="input-group-addon">km</div>
                </div>
                <div class = "divider"></div>
                Maximum Spatial Resolution:
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="10" data-ng-model="resolution"valid-number/>
                    <div class="input-group-addon" />m</div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Calculation Results</h3>
                    Angle of Knowledge:
                    <div class="input-group">
                        <input  class="form-control" data-ng-model="knowledge" readonly="readonly"/>
                        <div class="input-group-addon">deg</div>
                    </div>
                    <div class = "divider"></div>
                    Angle of Control:
                    <div class="input-group">
                        <input class="form-control" data-ng-model="control" readonly="readonly"/>
                        <div class="input-group-addon">deg</div>
                    </div>
            </div>
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div class = "dividerlarge"></div>
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="myClick()">
                        Select Attitude
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div ng-show="showDatabase">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Available Attitude Subsystems 
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show:
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="ACS" ng-checked=false>
                                            ACS
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Sensor" ng-checked=false >
                                            Sensor
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Actuator" ng-checked=false>
                                            Actuator
                                    </label>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By: 
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Mass">
                                            Mass
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Power">
                                            Power
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Volume">
                                            Volume
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </h3>
                    <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                    <div class="row">
                        <div class="col-lg-11">
                            <div class = "dividersmall"></div>
                            <select multiple class="form-control" size="14">
                                <option ng-click="savePart(part)" ng-repeat="part in parts|filter:okAngle|filter:okType|orderBy:order">
                                   {{part.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <a type="button" ng-click="showInfo()" id="pushdown1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                            <a type="button" ng-click="addPart()" id="pushdown2" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Current Design</h3>
                    <h6>Attitude Selection<br>
                    Page 2/7</h6>
                    <div class = "dividersmall"></div>
                    <select multiple class="form-control" size="14">
                        <option>Target: {{target}}</option>
                        <option>Instrumentation: {{instrumentPart.Name}}</option>
                        <option>Attitude: {{attitudePart.Name}}</option>
                        <option>Propulsion: {{propulsionPart.Name}}</option>
                        <option>Ground Station: {{stationPart.Name}}</option>
                        <option>Antenna: {{antennaPart.Name}}</option>
                        <option>Receiver: {{receiverPart.Name}}</option>
                        <option>CDH: {{cdhPart.Name}}</option>
                        <option>Solar Panels: {{panelsPart.Name}}</option>
                        <option>Batteries: {{batteriesPart.Name}}</option>
                        <option>EPS: {{epsPart.Name}}</option>
                        <option>Bus: {{busPart.Name}}</option>
                        <option>Deployer: {{deployerPart.Name}}</option>
                        <option>Thermal: {{thermalPart.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class = "divider"></div>
                    <nav>
                    <ul class="pager">
                        <li class="previous"><a type="button" ng-click="prevPage()"><span aria-hidden="true">&larr;</span>Prev Page</a></li>
                        <li class="next"><a type="button" ng-click="nextPage()">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                    </nav>  
                </div>
            </div>
            <hr>
        </div>
        <% include footer %>
        <div class = "divider"></div>
    </body>
 
</html>