<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="attitudeController">
        <% include navbar %>
        <h1>Attitude Selection</h1>
        <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h3>User Input</h3>
                Altitude:<input class="form-control" placeholder="100" data-ng-model="attitude"/>
                <div class = "divider"></div>
                Maximum Spatial Resolution:<input class="form-control" placeholder="10" data-ng-model="resolution"/>
            </div>
            <div class="col-lg-6">
                <h3>Calculation Results</h3>
                Angle of Knowledge:<input class="form-control" data-ng-model="result"/>
                <div class = "divider"></div>
                Angle of Control:<input class="form-control" data-ng-model="spatial"/>
            </div>
            <div class="col-lg-12">
                <div class = "dividerlarge"></div>
                <div id="button">
                    <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                        <span ng-show="loading">Searching...</span>
                        <span ng-hide="loading">Search Database</span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <h3>Search Results</h3>
                <h6>Click on the link of each subsystem to learn more.</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control">
                    <option ng-repeat="part in parts">{{part.Name}}</option>
                </select>
            </div>
            <div class="col-lg-4" id="search">
                <h3>Search Filters</h3>
                <div class = "dividersmall"></div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Mass
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Power
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Volume
                    </label>
                </div>
            </div>
             <div class="col-lg-12">
                <div class = "divider"></div>
                <div id="button">
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" href="/tool1" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                        <a type="button" href="/tool3" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "divider"></div>
        <hr>
        <% include footer %>
        <div class = "divider"></div>
    </body>
 
</html>