<!DOCTYPE html>
<html ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="attitudeController">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Information</h4>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-name">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Name:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Name">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-type">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Type:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Type">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-type-further">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Type (cont.):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Type_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-manu">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Manufacturer:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Manufacturer">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ref">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Reference:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Reference">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-her">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Heritage:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Manufacturer">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-mass">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Mass:</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="selectedPart.Mass">
                                         <div class="input-group-addon">g</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-power">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Power:</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="selectedPart.Power">
                                         <div class="input-group-addon">W</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-vol">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Volume:</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="selectedPart.Volume">
                                         <div class="input-group-addon">U</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-prop">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Proportions:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Proportions">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ang">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Angle of Precision:</label>
                                </div>
                                <div class="col-md-8">
                                    
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="selectedPart.Angle_prec">
                                         <div class="input-group-addon">deg</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-att">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Attitude Control:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Attitude_control_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ac">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">AC Sensors:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Ac_sensors">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-sci">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Scientific Objectives:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Scientific_obj">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ven">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <% include navbar %>
        <h1>Attitude Control Systems Selection</h1>
        <p>On this page please input the altitude at which you would like to take measurements, and the maximum spatial resolution of your instrument. With this information we will calculate the required angle of knowledge and angle of control for your mission. This will allow us to search for acceptable attitude control systems. By default, no types are selected, so please select the systems you would like to include in your CubeSat under the 'Show' dropdown menu.</p>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h3>User Input</h3>
                Altitude:
                <div class="input-group">
                    <div class="input-group-addon" data-toggle="popover" data-placement="right" data-content="This is the distance from the surface where the CubeSat takes measurements. Suggested: 50-500 km.">
                            <a style="color:skyblue">?</a>
                    </div>
                    <input type="text" class="form-control" data-ng-model="attitude" valid-number/>
                    
                    <div class="input-group-addon">km</div>
                </div>
                <div class = "divider"></div>
                Maximum Spatial Resolution:
                <div class="input-group">
                    <div class="input-group-addon" data-toggle="popover" data-placement="right" data-content="This is the size of the pixels in the instrument ground footprint. Suggested: 10-100 m.">
                            <a style="color:skyblue">?</a>
                    </div>
                    <input type="text" class="form-control" data-ng-model="resolution"valid-number/>
                    
                    <div class="input-group-addon" />m</div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Calculation Results</h3>
                Angle of Knowledge:
                <div class="input-group">
                    <input  class="form-control" data-ng-model="knowledge" readonly="readonly"/>
                    <div class="input-group-addon">deg</div>
                </div>
                <div class = "divider"></div>
                Angle of Control:
                <div class="input-group">
                    <input class="form-control" data-ng-model="control" readonly="readonly"/>
                    <div class="input-group-addon">deg</div>
                </div>
            </div>
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div class = "dividerlarge"></div>
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="myClick()" ng-disabled="attitude==null||resolution==null||attitude.length==0||resolution.length==0" title="Show Parts">
                        Select Attitude
                    </button>
                </div>
            </div>
        </div>
        <hr>

        <div ng-show="attitudePart.Mass == 'Unknown'">
            <div class="alert alert-danger" role="alert">We could not find an associated mass for this attitude control system. We will be using an approximation of 2000 g when calculating the final mass of the CubeSat.
            </div>
        </div>

        <div ng-show="attitudePart.Power == 'Unknown'">
            <div class="alert alert-danger" role="alert">We could not find an associated power requirement for this attitude control system. We will be using an approximation of 5 W when calculating the final power budget of the CubeSat.
            </div>
        </div>

        <div ng-show="attitudePart.Volume == 'Unknown'">
            <div class="alert alert-danger" role="alert">We could not find an associated volume for this attitude control system. We will be using an approximation of 0.75 U when calculating the final volume of the CubeSat.
            </div>
        </div>

        <div ng-show="showDatabase">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Attitude Subsystems 
                        <div class="btn-group">
                          <label class="btn btn-default btn-xs">
                                <input type="checkbox" autocomplete="off" data-ng-model="ignorefilters"> Show All
                          </label>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show:
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="ACS" ng-checked=false>
                                            ACS
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Sensor" ng-checked=false >
                                            Sensor
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Actuator" ng-checked=false>
                                            Actuator
                                    </label>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By: 
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Mass">
                                            Mass
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Power">
                                            Power
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Volume">
                                            Volume
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </h3>
                    <h6>Click on the info button to learn more about a part, or double click on the right arrow to add it to the existing CubeSat.</h6>
                    <div class="row">
                        <div class="col-lg-11">
                            <div class = "dividersmall"></div>
                            <select multiple class="form-control" size="19">
                                <option ng-click="savePart(part)" ng-repeat="part in parts|filter:okAngle|filter:okType|orderBy:order">
                                   {{part.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <a type="button" data-toggle="modal" data-target="#exampleModal" id="pushdown1" class="btn btn-sm btn-default" title="Info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                            <a type="button" ng-click="addPart()" id="pushdown2" class="btn btn-sm btn-default" title="Add Part"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Current Design</h3>
                    <h6>Attitude Selection<br>
                    Page 2/7</h6>
                    <div class = "dividersmall"></div>
                    <select multiple class="form-control" size="19">
                        <option>Name: {{Name}}</option>
                        <option>Objectives: {{Objectives}}</option>
                        <option>Target: {{target}}</option>
                        <option>Instrumentation: {{instrumentPart.Name}}</option>
                        <option>Attitude: {{attitudePart.Name}}</option>
                        <option>Propulsion: {{propulsionPart.Name}}</option>
                        <option>Ground Station: {{stationPart.Name}}</option>
                        <option>Antenna: {{antennaPart.Name}}</option>
                        <option>Receiver: {{receiverPart.Name}}</option>
                        <option>CDH: {{cdhPart.Name}}</option>
                        <option>Solar Panels: {{panelsPart.Name}}</option>
                        <option>Batteries: {{batteriesPart.Name}}</option>
                        <option>EPS: {{epsPart.Name}}</option>
                        <option>Bus: {{busPart.Name}}</option>
                        <option>Deployer: {{deployerPart.Name}}</option>
                        <option>Thermal: {{thermalPart.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="dividersmall"></div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class = "dividersmaller"></div>
                <nav>
                <ul class="pager">
                    <button type="button" class='btn btn-default' id="round" ng-click="prevPage()" style="float: left; color:#0099CC; border: false" title="Instruments"><span aria-hidden="true">&larr;</span> Prev Page </button>

                    <button type="button" class='btn btn-default' id="round" ng-click="nextPage()" style="float: right; color:#0099CC; border: false" ng-disabled="attitudePart==null" title="Propulsion">Next Page <span aria-hidden="true">&rarr;</span></button>
                </ul>
                </nav>  
            </div>
        </div>
        <hr>
        <% include footer %>
        <div class = "divider"></div>
    </body>
 
</html>
