<!DOCTYPE html>
<html ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="attitudeController">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Add New Part</h4>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-name">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Name:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Name">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-type">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Type:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Type">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-type-further">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Type (cont.):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Type_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-manu">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Manufacturer:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Manufacturer">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ref">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Reference:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Reference">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-her">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Heritage:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Manufacturer">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-mass">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Mass:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Mass">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-mass-further">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Mass (cont.):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Mass_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-power">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Power:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Power">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-power-further">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Power (cont.):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Power_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-vol">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Volume:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Volume">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-vol-further">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Volume (cont.):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Volume_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-prop">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Proportions:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Proportions">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ang">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Angle of Precision:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Angle_prec">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-att">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Attitude Control:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Attitude_control_further">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ac">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">AC Sensors:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Ac_sensors">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-sci">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Scientific Objectives:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Scientific_obj">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-ven">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Venue:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Venue">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-low">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Temp (low):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Temp_low">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-high">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Temp (high):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Temp_high">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dividersmall"></div>
                    <div class="modal-data">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2"
                                    <label for="message-text" class="control-label">Datarate:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-ng-model="selectedPart.Datarate">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <% include navbar %>
        <h1>Attitude Selection</h1>
        <p>On this page please input the altitude at which you would like to take measurements, and the maximum spatial resolution of your instrument. With this information we will calculate the required angle of knowledge and angle of control for your mission. This will allow us to search for acceptable attitude control systems.</p>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h3>User Input</h3>
                Altitude:
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="100" data-ng-model="attitude" valid-number/>
                    <div class="input-group-addon">km</div>
                </div>
                <div class = "divider"></div>
                Maximum Spatial Resolution:
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="10" data-ng-model="resolution"valid-number/>
                    <div class="input-group-addon" />m</div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Calculation Results</h3>
                    Angle of Knowledge:
                    <div class="input-group">
                        <input  class="form-control" data-ng-model="knowledge" readonly="readonly"/>
                        <div class="input-group-addon">deg</div>
                    </div>
                    <div class = "divider"></div>
                    Angle of Control:
                    <div class="input-group">
                        <input class="form-control" data-ng-model="control" readonly="readonly"/>
                        <div class="input-group-addon">deg</div>
                    </div>
            </div>
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div class = "dividerlarge"></div>
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="myClick()" ng-disabled="attitude==null||resolution==null||attitude.length==0||resolution.length==0">
                        Select Attitude
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div ng-show="showDatabase">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Available Attitude Subsystems 
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show:
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="ACS" ng-checked=false>
                                            ACS
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Sensor" ng-checked=false >
                                            Sensor
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Actuator" ng-checked=false>
                                            Actuator
                                    </label>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By: 
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Mass">
                                            Mass
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Power">
                                            Power
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" ng-model= "sort" value="Volume">
                                            Volume
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </h3>
                    <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                    <div class="row">
                        <div class="col-lg-11">
                            <div class = "dividersmall"></div>
                            <select multiple class="form-control" size="14">
                                <option ng-click="savePart(part)" ng-repeat="part in parts|filter:okAngle|filter:okType|orderBy:order">
                                   {{part.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <a type="button" data-toggle="modal" data-target="#exampleModal" id="pushdown1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                            <a type="button" ng-click="addPart()" id="pushdown2" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Current Design</h3>
                    <h6>Attitude Selection<br>
                    Page 2/7</h6>
                    <div class = "dividersmall"></div>
                    <select multiple class="form-control" size="14">
                        <option>Target: {{target}}</option>
                        <option>Instrumentation: {{instrumentPart.Name}}</option>
                        <option>Attitude: {{attitudePart.Name}}</option>
                        <option>Propulsion: {{propulsionPart.Name}}</option>
                        <option>Ground Station: {{stationPart.Name}}</option>
                        <option>Antenna: {{antennaPart.Name}}</option>
                        <option>Receiver: {{receiverPart.Name}}</option>
                        <option>CDH: {{cdhPart.Name}}</option>
                        <option>Solar Panels: {{panelsPart.Name}}</option>
                        <option>Batteries: {{batteriesPart.Name}}</option>
                        <option>EPS: {{epsPart.Name}}</option>
                        <option>Bus: {{busPart.Name}}</option>
                        <option>Deployer: {{deployerPart.Name}}</option>
                        <option>Thermal: {{thermalPart.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="dividersmall"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav>
                <ul class="pager">
                    <button type="button" class='btn btn-default' id="round" ng-click="prevPage()" style="float: left; color:#0099CC; border: false"><span aria-hidden="true">&larr;</span> Prev Page </button>

                    <button type="button" class='btn btn-default' id="round" ng-click="nextPage()" style="float: right; color:#0099CC; border: false" ng-disabled="attitudePart==null">Next Page <span aria-hidden="true">&rarr;</span></button>
                </ul>
                </nav>  
            </div>
        </div>
        <hr>
        <% include footer %>
        <div class = "divider"></div>
    </body>
 
</html>
