<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body class="container" data-ng-controller="busController">
    <% include navbar %>
    <h1>Frame Selection</h1>
    <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
    <hr>

    <div ng-show="showBus">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Bus
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CubeSat Vol (U):
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="number" style="width:144px; margin-left:8px" class="form-control" placeholder="0 U" data-ng-model="volume" /></li>
                    </ul>
                </div>

                </h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="14">
                            <option ng-click="saveBus(part)" ng-repeat="part in parts|filter:busType">
                                {{part.Name}}
                            </option>
                        </select>       
                    </div>
                    <div class="col-lg-1">
                        <a type="button" ng-click="showInfo()" id="pushdown1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addBus()" id="pushdown2" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Bus Selection<br>Page 7/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="14">
                    <option>Target: {{target}}</option>
                    <option>Instrumentation: {{instrumentPart.Name}}</option>
                    <option>Attitude: {{attitudePart.Name}}</option>
                    <option>Propulsion: {{propulsionPart.Name}}</option>
                    <option>Ground Station: {{stationPart.Name}}</option>
                    <option>Antenna: {{antennaPart.Name}}</option>
                    <option>Receiver: {{receiverPart.Name}}</option>
                    <option>CDH: {{cdhPart.Name}}</option>
                    <option>Solar Panels: {{panelsPart.Name}}</option>
                    <option>Batteries: {{batteriesPart.Name}}</option>
                    <option>EPS: {{epsPart.Name}}</option>
                    <option>Bus: {{busPart.Name}}</option>
                    <option>Deployer: {{deployerPart.Name}}</option>
                    <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class = "row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="nextDep()" ng-disabled="busPart==null">
                        Search Deployer (2/3)
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="showDeployer">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Deployer</h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="14">
                            <option ng-click="saveDeployer(part)" ng-repeat="part in parts|filter: filterBattery">
                                {{part.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" ng-click="showInfo()" id="pushdown1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addDeployer()" id="pushdown2" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Deployer Selection<br>Page 7/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="14">
                    <option>Target: {{target}}</option>
                    <option>Instrumentation: {{instrumentPart.Name}}</option>
                    <option>Attitude: {{attitudePart.Name}}</option>
                    <option>Propulsion: {{propulsionPart.Name}}</option>
                    <option>Ground Station: {{stationPart.Name}}</option>
                    <option>Antenna: {{antennaPart.Name}}</option>
                    <option>Receiver: {{receiverPart.Name}}</option>
                    <option>CDH: {{cdhPart.Name}}</option>
                    <option>Solar Panels: {{panelsPart.Name}}</option>
                    <option>Batteries: {{batteriesPart.Name}}</option>
                    <option>EPS: {{epsPart.Name}}</option>
                    <option>Bus: {{busPart.Name}}</option>
                    <option>Deployer: {{deployerPart.Name}}</option>
                    <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class = "row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="nextTherm()" ng-disabled="deployerPart==null">
                        Search Thermal (3/3)
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="showThermal">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Thermal</h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="14">
                            <option ng-click="saveThermal(part)" ng-repeat="part in parts|filter: filterEPS">
                                   {{part.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" ng-click="showInfo()" id="pushdown1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addThermal()" id="pushdown2" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Thermal Selection<br>Page 7/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="14">
                    <option>Target: {{target}}</option>
                    <option>Instrumentation: {{instrumentPart.Name}}</option>
                    <option>Attitude: {{attitudePart.Name}}</option>
                    <option>Propulsion: {{propulsionPart.Name}}</option>
                    <option>Ground Station: {{stationPart.Name}}</option>
                    <option>Antenna: {{antennaPart.Name}}</option>
                    <option>Receiver: {{receiverPart.Name}}</option>
                    <option>CDH: {{cdhPart.Name}}</option>
                    <option>Solar Panels: {{panelsPart.Name}}</option>
                    <option>Batteries: {{batteriesPart.Name}}</option>
                    <option>EPS: {{epsPart.Name}}</option>
                    <option>Bus: {{busPart.Name}}</option>
                    <option>Deployer: {{deployerPart.Name}}</option>
                    <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class = "divider"></div>
                <nav>
                <ul class="pager">
                    <button type="button" class='btn btn-default' id="round" ng-click="prevPage()" style="float: left; color:#0099CC; border: false"><span aria-hidden="true">&larr;</span>Previous Page </button>

                    <button type="button" class='btn btn-default' id="round" ng-click="nextPage()" style="float: right; color:#0099CC; border: false" ng-disabled="thermalPart==null">Next Page <span aria-hidden="true">&rarr;</span></button>
                </ul>
                </nav>  
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-include src="footerSrc"></div>
    <% include footer %>
    <div class = "divider"></div>
</body>
 
</html>