<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body class="container" data-ng-controller="commController">
    <% include navbar %>
    <h1>Communication Selection</h1>
    <p>On this page please select a bandwidth for communication between your CubeSat and mission control. At that point you will be able to view on board communication and ground stations that meet the communications requirements for your mission. We base these estimates on the target you select and the amount of downlink required by your data collection</p>
    <hr>

    <div class="modal fade" id="antennaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Information</h4>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-name">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Name">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-type">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Type:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Type">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-manu">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Manufacturer:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Manufacturer">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-ref">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Reference:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Website">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-her">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Heritage:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Heritage">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-mass">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Mass:</label>
                            </div>
                            <div class="col-md-8">
                               <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Mass">
                                    <div class="input-group-addon">g</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-power">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Power:</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Power">
                                    <div class="input-group-addon">W</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-vol">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Volume:</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Volume">
                                    <div class="input-group-addon">U</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-prop">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Proportions:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Proportions">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-freq">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Frequency:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Frequency">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-data">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Data & Objectives:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Data_and_Objectives">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-receiver">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Receiver Sensitivity:</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Receiver_Sensitivity">
                                    <div class="input-group-addon">dBm</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-transmit">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Transmit Power:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedAntenna.Transmit_Power">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-beam">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Beamwidth:</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Beamwidth">
                                    <div class="input-group-addon">deg</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-gain">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Gain:</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="selectedAntenna.Gain">
                                    <div class="input-group-addon">dBi</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-high">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="receiverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Add New Part</h4>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-name">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Name">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-type">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Type:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Type">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-manu">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Manufacturer:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Manufacturer">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-ref">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Reference:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Website">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-her">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Heritage:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Heritage">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-mass">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Mass:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Mass">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-power">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Power:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Power">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-vol">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Volume:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Volume">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-prop">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Proportions:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Proportions">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-freq">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Frequency:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Frequency">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-data">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Data & Objectives:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Data_and_Objectives">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-receiver">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Receiver Sensitivity:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Receiver_Sensitivity">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-transmit">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Transmit Power:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Transmit_Power">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-transmit-further">
                </div>
                <div class="dividersmall"></div>
                <div class="modal-beam">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Beamwidth:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Beamwidth">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-gain">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Gain:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedReceiver.Gain">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-high">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="stationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Add New Part</h4>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-name">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Name">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-uplink">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Uplink Frequency:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Uplink_freq">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-eirp">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">EIRP:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.EIRP">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-down">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Downlink Frequency:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Downlink_freq">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-gain">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Gain:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Gain">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-pergain">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Per Gain:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Per_gain">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-dia">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Diameter:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Diameter">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-loc">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Location:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Loc">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dividersmall"></div>
                <div class="modal-band">
                    <form>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2"
                                <label for="message-text" class="control-label">Band:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="selectedStation.Band">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-lg-12" >
            <h3>Frequency:</h3>
             <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" ng-model= "frequency" value="VHF">
                            VHF
                        <button class="btn btn-xs" data-toggle="popover" data-placement="right" data-content="Suggested Use" style="background-color: white">
                            <a style="color:skyblue">?</a>
                        </button>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" ng-model= "frequency" value="UHF">
                            UHF
                        <button class="btn btn-xs" data-toggle="popover" data-placement="right" data-content="Suggested Use" style="background-color: white">
                            <a style="color:skyblue">?</a>
                        </button>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" ng-model= "frequency" value="S-Band">
                            S-Band
                        <button class="btn btn-xs" data-toggle="popover" data-placement="right" data-content="Suggested Use" style="background-color: white">
                            <a style="color:skyblue">?</a>
                        </button>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" ng-model= "frequency" value="X-Band">
                            X-Band
                        <button class="btn btn-xs" data-toggle="popover" data-placement="right" data-content="Highly recommended for deep space missions" style="background-color: white">
                            <a style="color:skyblue">?</a>
                        </button>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <div id="button">
                <button type="button" class="btn btn-primary btn-block" id="round" ng-click="myClick()" ng-disabled="frequency==null" title="Show Groundstations">
                    Select Station
                </button>
            </div>
        </div>
    </div>
    <hr> 

    <div ng-show="showStation">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Stations</h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="19">
                            <option ng-click="saveStation(station)" ng-repeat="station in stations|filter: stationFilter">
                               {{station.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" data-toggle="modal" data-target="#stationModal" id="pushdown1" class="btn btn-sm btn-default" title="Info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addStation()" id="pushdown2" class="btn btn-sm btn-default" title="Add Part"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Ground Station Selection<br>Page 4/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="19">
                    <option>Name: {{Name}}</option>
                    <option>Objectives: {{Objectives}}</option>
                    <option>Target: {{target}}</option>
                    <option>Instrumentation: {{instrumentPart.Name}}</option>
                    <option>Attitude: {{attitudePart.Name}}</option>
                    <option>Propulsion: {{propulsionPart.Name}}</option>
                    <option>Ground Station: {{stationPart.Name}}</option>
                    <option>Antenna: {{antennaPart.Name}}</option>
                    <option>Receiver: {{receiverPart.Name}}</option>
                    <option>CDH: {{cdhPart.Name}}</option>
                    <option>Solar Panels: {{panelsPart.Name}}</option>
                    <option>Batteries: {{batteriesPart.Name}}</option>
                    <option>EPS: {{epsPart.Name}}</option>
                    <option>Bus: {{busPart.Name}}</option>
                    <option>Deployer: {{deployerPart.Name}}</option>
                    <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class = "row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="nextAnt()" ng-disabled="stationPart==null" title="Show Antennas">
                        Select Antenna
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="antennaPart.Mass == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated mass for this antenna. We will be using a standard mass of 100 g when calculating the final mass of the CubeSat.</div>
    </div>

    <div ng-show="antennaPart.Power == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated power for this antenna. We will be using a standard power of 5 W when calculating the final power of the CubeSat.</div>
    </div>

    <div ng-show="antennaPart.Volume == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated volume for this antenna. We will be using a standard power of 0.1 U when calculating the final power of the CubeSat.</div>
    </div>

    <div ng-show="showAntenna">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Antennas</h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="19">
                            <option ng-click="saveAntenna(part)" ng-repeat="part in parts|filter:antennaFilter|filter:frequencyFilter">
                                {{part.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" data-toggle="modal" data-target="#antennaModal" id="pushdown1" class="btn btn-sm btn-default" title="Info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addAntenna()" id="pushdown2" class="btn btn-sm btn-default" title="Add Part"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Antenna Selection<br>Page 4/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="19">
                    <option>Name: {{Name}}</option>
                    <option>Objectives: {{Objectives}}</option>
                    <option>Target: {{target}}</option>
                    <option>Instrumentation: {{instrumentPart.Name}}</option>
                    <option>Attitude: {{attitudePart.Name}}</option>
                    <option>Propulsion: {{propulsionPart.Name}}</option>
                    <option>Ground Station: {{stationPart.Name}}</option>
                    <option>Antenna: {{antennaPart.Name}}</option>
                    <option>Receiver: {{receiverPart.Name}}</option>
                    <option>CDH: {{cdhPart.Name}}</option>
                    <option>Solar Panels: {{panelsPart.Name}}</option>
                    <option>Batteries: {{batteriesPart.Name}}</option>
                    <option>EPS: {{epsPart.Name}}</option>
                    <option>Bus: {{busPart.Name}}</option>
                    <option>Deployer: {{deployerPart.Name}}</option>
                    <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class = "row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="nextRec()" ng-disabled="antennaPart==null" title="Show Receivers">
                        Select Receiver
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="receiverPart.Mass == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated mass for this receiver. We will be using a standard mass of 500 g when calculating the final mass of the CubeSat.</div>
    </div>

    <div ng-show="receiverPart.Power == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated power for this receiver. We will be using a standard power of 20 W when calculating the final power of the CubeSat.</div>
    </div>

    <div ng-show="receiverPart.Volume == 'Unknown'">
        <div class="alert alert-info" role="alert">We could not find an associated volume for this receiver. We will be using a standard power of 0.5 U when calculating the final power of the CubeSat.</div>
    </div>

    <div ng-show="showReceiver">
        <div class="row">
            <div class="col-lg-6">
                <h3>Available Receivers</h3>
                <h6>Double click on the info button to learn more about a part, or on the right arrow to add it to the existing CubeSat.</h6>
                <div class="row">
                    <div class="col-lg-11">
                        <div class = "dividersmall"></div>
                        <select multiple class="form-control" size="19">
                            <option ng-click="saveReceiver(part)" ng-repeat="part in parts|filter:radioFilter|filter:frequencyFilter">
                               {{part.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" data-toggle="modal" data-target="#receiverModal" id="pushdown1" class="btn btn-sm btn-default" title="Info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a type="button" ng-click="addReceiver()" id="pushdown2" class="btn btn-sm btn-default" title="Add Part"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Current Design</h3>
                <h6>Receiver<br>Page 4/7</h6>
                <div class = "dividersmall"></div>
                <select multiple class="form-control" size="19">
                        <option>Name: {{Name}}</option>
                        <option>Objectives: {{Objectives}}</option>
                        <option>Target: {{target}}</option>
                        <option>Instrumentation: {{instrumentPart.Name}}</option>
                        <option>Attitude: {{attitudePart.Name}}</option>
                        <option>Propulsion: {{propulsionPart.Name}}</option>
                        <option>Ground Station: {{stationPart.Name}}</option>
                        <option>Antenna: {{antennaPart.Name}}</option>
                        <option>Receiver: {{receiverPart.Name}}</option>
                        <option>CDH: {{cdhPart.Name}}</option>
                        <option>Solar Panels: {{panelsPart.Name}}</option>
                        <option>Batteries: {{batteriesPart.Name}}</option>
                        <option>EPS: {{epsPart.Name}}</option>
                        <option>Bus: {{busPart.Name}}</option>
                        <option>Deployer: {{deployerPart.Name}}</option>
                        <option>Thermal: {{thermalPart.Name}}</option>
                </select>
            </div>
        </div>
        <div class = "dividersmall"></div>
        <div class = "row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div id="button">
                    <button type="button" class="btn btn-primary btn-block" id="round" ng-click="calculate()" ng-disabled="receiverPart==null" title="Show Space Loss, Signal:Noise Ratio, Receiver dbW, and Bit Rate">
                        Calculate Results
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="showCalculation">
        <div class="row">
            <div class="col-lg-12">
                <h3>Calculation Results</h3>
            </div>
            <div class="col-lg-6">
                <div class = "divider"></div>
                Space Loss:
                
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="100" ng-model="spaceLoss" readonly="readonly"/>
                    <span class="input-group-addon" id="totdV">dB</span>
                </div>

                <div class = "divider"></div>
                Signal to Noise Ratio:

                <div class="input-group">
                    <input class="form-control" placeholder="10" ng-model="sigNoise" readonly="readonly"/>
                    <span class="input-group-addon" id="totdV">dB</span>
                </div>

                
            </div>
            <div class="col-lg-6">
                <div class = "divider"></div>
                Receive Power:
                <div class="input-group">
                    <input class="form-control" placeholder="10" ng-model="receiver" readonly="readonly"/>
                    <span class="input-group-addon" id="totdV">dBW</span>
                </div>               
                <div class = "divider"></div>
                Bit Rate:
                <div class="input-group">
                    <input class="form-control" placeholder="10" ng-model="bitRate" readonly="readonly"/>
                    <span class="input-group-addon" id="totdV">Kbps</span>
                </div> 
            </div>
        </div>
        <div class="dividersmall"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class = "dividersmaller"></div>
            <nav>
            <ul class="pager">
                <li class="previous"><a type="button" ng-click="prevPage()" title="Propulsion"><span aria-hidden="true">&larr;</span>Prev Page</a></li>
                <li class="next"><a type="button" ng-click="nextPage()" title="Data">Next Page<span aria-hidden="true">&rarr;</span></a></li>
            </ul>
            </nav>  
        </div>
    </div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>

</html>
