<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>


<body class="container" data-ng-controller="dataController">
    <% include navbar %>
    <h1>Data Selection</h1>
    <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
    <hr>
    <div class="row">
        <div class="col=lg-6">
            <div class="col-lg-2">
                <h3>User Input</h3>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="input1"c>
                            Channels 
                    </label>
                    <input type="number" class="form-control" placeholder="100" data-ng-model="channel"/>
                    <div class = "divider"></div>
                    Bits/Channel: <input type="number" class="form-control" placeholder="100" data-ng-model="bitschannel"/>
                    <div class = "divider"></div>
                    Integrations/Second:<input type="number" class="form-control" placeholder="100" data-ng-model="integrations1"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class = "dividerlarger"></div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" data-ng-model="input1">
                            Array Size - x:
                    </label>
                    <input type="number" class="form-control" placeholder="100" data-ng-model="sizex"/>
                    <div class = "divider"></div>
                    Array Size - y: <input type="number"class="form-control" placeholder="100" data-ng-model="sizey"/>
                    <div class = "divider"></div>
                    Integrations/Second:<input type="number" class="form-control" placeholder="100" data-ng-model="integrations2"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class = "dividerlarger"></div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3" data-ng-model="input1">
                            Bits/Second 
                    </label>
                    <input type="number" class="form-control" placeholder="100" data-ng-model="bitssecond"/>
                </div>
            </div>
        </div>

            <!---<div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Array Size (x by y)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Bits per Second
                </label>
            </div>
        </div> -->
        <div class="col-lg-6">
            <h3>Calculation Results</h3>
            Bits/Second:<input type="number" class="form-control" data-ng-model="totalbits" readonly="readonly"/>
            <div class = "divider"></div>
            Required Downlink:<input type="number" class="form-control" data-ng-model="totaldownlink" readonly="readonly"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class = "divider"></div>
            Percent of Time Generating Data (x/100):<input class="form-control" placeholder="10" data-ng-model="resolution"/>
        </div>
        <div class="col-lg-12">
            <div class = "dividerlarge"></div>
            <div id="button">
                <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                    <span ng-show="loading">Searching...</span>
                    <span ng-hide="loading">Search Database</span>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2" id="search">
            <h3>List Showing...</h3>
            <div class = "dividersmall"></div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="OBC">
                        On-Board Computer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="bus">
                        Bus
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="imageprocessor">
                        Image Processor
                </label>
            </div>
        </div>
        <div class="col-lg-8">
            <h3>Search Results</h3>
            <h6>Click on the link of each subsystem to learn more.</h6>

            <div class = "dividersmall"></div>
            <select multiple class="form-control" data-ng-model="result">
                <option ng-repeat="part in cdhparts|filter:throughputfilter1|filter>
                       Part Name: {{part.Name}} MHz: {{part.MHz}} Mass: {{part.Mass}} Power: {{part.Power}} Volume: {{part.Volume}}
                </option>
            </select>     
        </div>
        <div class="col-lg-2" id="search">
            <h3>Sort by:</h3>
            <div class = "dividersmall"></div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model= "Mass" ng-checked=true>
                        Mass
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Power">
                            Power
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Volume">
                        Volume
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class = "divider"></div>
            <div id="button">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" href="/tool4" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                    <a type="button" href="/tool6" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>

    </div>
    <div class = "divider"></div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>

</html>