<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="displayStationController">
        <% include navbar %>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <h1>Ground Station</h1>
        <hr>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th> 
                        <a href="" ng-click="order('Band')">Band</a>
                        <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th> 
                        <a href="" ng-click="order('Name')">Name</a>
                        <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th> 
                        <a href="" ng-click="order('Location')">Location</a>
                        <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="part in parts | orderBy:predicate:reverse">
                    <td>{{part.Band}}</td>
                    <td data-toggle="modal" data-target="#myModal">{{part.Name}}</td>
                    <td>{{part.Loc}}</td>
                    <td> <a type="button" type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-warning">Edit</a> </td>
                    <td> <a type="button" class="btn btn-danger" ng-click="deletePart(part._id)">Delete</a> </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div id="button">
            <a type="button" href="/list" class="btn btn-default">Return to Main</a>
            <a type="button" data-toggle="modal" data-target="#addNewPartModal" class="btn btn-success">Add New Part</a>
        </div>
        <hr>
        <% include footer %>
        <div class = "divider"></div>

    </body>
 
</html>