<footer>
	<img src = "/img/nasaLogo.png" alt = "NASA Icon" style = "width:80px; height:64px; float:left">
	<div style="margin-left:90px">
		<p> 
			National Aeronautics and Space Administration <br>
			Goddard Space Flight Center
		</p>
		<p>Created with <img src = "/img/heart_vector.png" alt = "NASA Icon" style = "width:13px; height:12px"> by <a href="https://github.com/huongnvo">huongnvo</a>, <a href="https://github.com/aparna-n">aparna-n</a>, & <a href="https://github.com/zoeh917">zoeh917</a>
	</div>
</footer>