<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>


<body data-ng-controller="homeController">  
    <% include navbar %>  


    <section class="module parallax parallax-large parallax-1">
        <div class="container" id="parallax">
            <h1>SPACE Tool</h1>
            <h3>Science Payloads and Advanced Concepts for Exploration Interactive</h3>
            <p>CubeSat Design Tool</p>
            <a style="margin-left:470px; color:white" id="rcorners" type="button" id="roundedbutton" href="/tool" class="btn btn-lg" style="color: #FFFFFF">Try it Now</a>
        </div>
    </section>

    <section class="module content">
        <div class="container">
            <h1 style="text-align:center; font-size:60px">What Are CubeSats?</h1>
            <hr>
            <p>CubeSats, or "cute sats", are small satelites composed of 10 cm x 10 cm x 10 cm blocks, each of which weighs about 1.33 kg. Currently, scientists form them with no more than 12 of these units. CubeSats fit under the nanosatellite umbrella (all satellites of mass < 500 kg).</p>
            </div>
            <div class="divider"></div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-2">
    <div class="container" id="parallax">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-10">
                <p><br><br></p>
                <p style="text-align:right; font-size:30px;<!--  background-color:rgba(0, 0, 0, 0.7); -->">
                In 1999, Bob Twiggs and Jordi Purig-Surai introduced a new satellite blueprint to allow graduate students to develop and test small, low cost spacecrafts. Their intended target was Low-Earth Orbit. Since then, the idea of low cost space exploration has become increasingly popular. Private companies and research institutions manufacture low volume, low cost parts specifically for CubeSats.</p>
            </div>
        </div>
    </div>
    </section>

    <section class="module content">
        <div class="container">
            <h1 style="text-align:center; font-size:60px">Why CubeSats?</h1>
            <hr>
            <div class="row">
                <div class="group">
                    <div class="col-lg-3" style="margin-left:-100px">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">Entry to Deep Space</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text"><br>CubeSats already <br>exist in earth orbit, but the next <br>stage of development will send them deeper into our solar system.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:65px;">Form Factor</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text"><br>The shape and size of <br>CubeSats make them sturdier <br> than larger satellites, which <br> require more structural planning.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">Standardized Platform</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text"><br>There are <br>several planned and tested <br>methods of deployment, which range from swarms of satellites to individual releases. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">More Scientific Returns</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text"><br>By launching <br> several CubeSats with varied <br>instruments, scientists <br>can achieve more scientific objectives with one small, cheap <br> mission. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerlargest"></div>
            <div class="row">
                <div class="col-lg-3" style="margin-left:-100px">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:60px;">Predictability<p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text"><br>Standardization of <br>CubeSats reduces the risks <br>associated with launches, substantial concerns for large-scale satellites.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:44px;">Reduced Launch Costs</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text"><br>Launch costs for space <br>equipment vary with mass. <br>Currently, it costs roughly $10k/lb to reach earth orbit. CubeSats have low mass, so they minimize <br>launch costs.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:40px;">Multiple <br>Platform Missions</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text">CubeSats <br>may be configured in <br>"swarms", groups that follow a similar trajectory and research one objective. Losing one or two CubeSats from a swarm won't impact functionality <br> like the loss of a large satellite.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:50px;">Disruptive Science!</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text"><br>The low cost of CubeSats <br>disrupts the satellite market, <br>which, at least in the deep space <br> sector, used to gear towards <br> large-scale parts.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerbiggest"></div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-3">
    <div class="container" id="parallax">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <p style="text-align:right; font-size:30px"><br><br><br><br><br><br>To date, there have been over 300 CubeSat missions. The list continues to grow!</p>
            </div>
        </div>
    </div>
    </section>

    <section class="module content">
        <div class="container">
            <h3 style="text-align:center; font-size:50px">Challenges Facing Deep Space Cubesats</h3>
            <div class="divider"></div>
            <div class="row">
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:120px">Short Lifespan</span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text"><br>CubeSats have an average lifespan of one year in Low Earth Orbit. However, as deep space developments take place, improved propulsion systems may increase this length.</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Form Factor Limits for Fuel/Propulsion Units</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">The standardized volume of CubeSats decreases the room available for propulsion systems. Efficient use of this space may be the key to extending CubeSat lifespan.</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/2.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard__text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text"><br><br>An artist's depiction of 3 single unit (1U) CubeSats in Earth Orbit. This is a "swarm" configuration.</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:100px">Increased Radiation</br>Levels</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">Deep Space CubeSats must tolerate more radiation because they do not fall under the protection of Earth's magnetic field. Electronics can sustain damage from high levels of radiation. In order to make CubeSats durable, scientists must devise a means of protection.</span>
                    </div>
                </div>
            </div>
            <div class="dividertinier"></div>
            <div class="row">
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/1.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard_text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text"><br>An artist's depiction of a single, multi-unit CubeSat in Earth Orbit.</span>
                    </div>
                </div>
                <div class="rcard effect__hover" id="2">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Greater Communication Range</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text"><br>CubeSats require a stronger signal to communicate with scientists when they move farther from the Earth.</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Generation of Power Farther from the Sun</span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">Deep Space CubeSats recieve less sunlight, However, many CubeSats rely on solar panels for energy. New solar panels have a deployable configuration, which allows them to capture more sunlight.</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/3.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard__text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text"><br><br>An artist's illustration of 2 multi-unit CubeSats in Lunar Orbit. The image displays deployable solar panels.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-4">
    <div class="container" id="parallax">
        <h1><a href="/tool" style="color:white">Create your CubeSat today!</a></h1>
    </div>
    </section>

    <div class="divider"></div>
    <div class="container">
        <% include footer %>
    </div>
    <div class = "divider"></div>
</body>
</html>

         