<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>


<body data-ng-controller="homeController">  
    <% include navbar %>  

    <section class="module parallax parallax-large parallax-1">
        <div class="container" id="parallax">
            <h1>SPACE Tool</h1>
            <h3>Science Payloads and Advanced Concepts for Exploration Interactive</h3>
            <p>Provides a basic system for a deep space CubeSat based off of user specifications for a mission.</p>
            <a style="margin-left:470px; color:white" id="rcorners" type="button" id="roundedbutton" href="\tool" class="btn btn-lg" style="color: #FFFFFF">Try it Now</a>
        </div>
    </section>

    <section class="module content">
        <div class="container">
            <h1 style="text-align:center; font-size:60px">What Are CubeSats?</h1>
            <hr>
            <p>CubeSats, or as we like to call them "cute sats", are small satelites coming in 10 cm x 10 cm x 10 cm units weighing about 1.33 kg. A satelite can consist of up to 12 units; no bigger than a shoebox! CubeSats are grouped under the umbrella category of nanosatellites as their total masses are under 500 kg.</p>
            </div>
            <div class="divider"></div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-2">
    <div class="container" id="parallax">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-10">
                <p><br><br><br><br></p>
                <p style="text-align:right; font-size:30px; background-color:rgba(0, 0, 0, 0.7);">
                In 1999, the CubeSat was first introduced when Bob Twigs and Jordi Purig-Surai introduced a satellite blueprint to allow graduate students to develop and test small, low cost spacecraft in low earth orbit. Since then the idea of a low cost space exploration method has become increasingly popular propagating CubeSat development in the professional market.</p>
            </div>
        </div>
    </div>
    </section>

    <section class="module content">
        <div class="container">
            <h1 style="text-align:center; font-size:60px">Why CubeSats?</h1>
            <hr>
            <div class="row">
                <div class="group">
                    <div class="col-lg-3" style="margin-left:-100px">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">Entry to Deep Space</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text">CubeSats already exist in earth orbit</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:65px;">Form Factor</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text">back</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">Standardized Platform</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text">back</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card effect__hover">
                            <div class="card__front">
                                <span class="card__text"><p style="font-size:24px;margin-top:50px;">More Scientific Returns</p></span>
                            </div>
                            <div class="card__back">
                                <span class="card__text">back</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerlargest"></div>
            <div class="row">
                <div class="col-lg-3" style="margin-left:-100px">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:60px;">Predictability<p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text">back</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:44px;">Reduced Launch Costs</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text">back</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:35px;">Multiple Platform Missions</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text">CubeSats can be sent out in swarms, each CubeSat having a seperate function, and work togethor to research one objective. Different CubeSats can be looking at different parts of the spectrum, for example, but be gathering data to accomplish the same goal. Losing one or two CubeSats, which are relatively cheap, in a swarm won't have as big as an impact of losing functionality on one large satellite.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card effect__hover">
                        <div class="card__front">
                            <span class="card__text"><p style="font-size:24px;margin-top:50px;">Disruptive Science!</p></span>
                        </div>
                        <div class="card__back">
                            <span class="card__text">The exponentially low cost of CubeSats relative to their traditional counterparts essentially disrupts the old market of large scale satellite development as they offer a low cost alternative for deep space exploration.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerbiggest"></div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-3">
    <div class="container" id="parallax">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <p style="text-align:right; font-size:30px"><br><br><br><br><br><br>To date, there have been over 300 CubeSat missions identified, and the list continues to grow!</p>
            </div>
        </div>
    </div>
    </section>

    <section class="module content">
        <div class="container">
            <h3 style="text-align:center; font-size:50px">Challenges Facing Deep Space Cubesats</h3>
            <div class="divider"></div>
            <div class="row">
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:120px">Short Lifespan</span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Form Factor Limits Available Space for Fuel/Propulsion Units</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/2.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard__text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:100px">Higher Radiation</br>Levels</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
            </div>
            <div class="dividertinier"></div>
            <div class="row">
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/1.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard_text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover" id="2">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Communication Range is Much Greater</p></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div class="rcard__front">
                        <span class="rcard__text"><p style="font-size:30px; margin-top:70px">Difficulty Generating Power When Away from the Sun</span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
                <div class="rcard effect__hover">
                    <div style="background-image:url(/img/3.jpg); background-size:cover" class="rcard__front">
                        <span class="rcard__text"></span>
                    </div>
                    <div class="rcard__back">
                        <span class="rcard__text">back</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="module parallax parallax-small parallax-4">
    <div class="container" id="parallax">
        <h1><a href="/tool" style="color:white">Create your CubeSat today!</a></h1>
    </div>
    </section>

    <div class="divider"></div>
    <div class="container">
        <% include footer %>
    </div>
    <div class = "divider"></div>
</body>
</html>

         