<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>
 
<body class="container" data-ng-controller="homeController">
    <% include navbar %>

    <h1>SPACE Tool</h1>
    <h3>Science Payloads and Advanced Concepts for Exploration Interactive</h3>
    <p>Provides a basic system for a deep space CubeSat based off of user specifications for a mission.</p>

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div id="button">
                <a type="button" id="roundedbutton" href="/tool"  class="btn btn-success btn-block btn-lg btn-round">Try it Now</a>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>
</html>