<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body data-ng-controller="homeController">    
    <div class="jumbotron" style="background-image: url(http://truereality.org/wp-content/uploads/2014/02/hubble-space-wallpapers.jpg); background-size: 100%; height: 650px">
        <div class="container" id="nav">
            <% include navbar %>
        </div>
        <div class="container" id="indexjumbo">
            <h1>SPACE Tool</h1>
            <h3>Science Payloads and Advanced Concepts for Exploration Interactive</h3>
            <p>Provides a basic system for a deep space CubeSat based off of user specifications for a mission.</p>

            <a id="rcorners" type="button" id="roundedbutton" href="/tool" class="btn btn-lg" style="color: #FFFFFF">Try it Now</a>
        </div>
    </div>
    <div class="container">
        <% include footer %>
    </div>
    <div class = "divider"></div>
</body>
</html>