<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="instrumentsController">

        <% include navbar %>
        <h1>Instrument Selection</h1>
        <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
        <div class="row">
            <div class="col-lg-12">
                <h3>User Input</h3>

                <div class="accordion" id="accordion1">
                    <div class="accordion-group">
                        <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                <b>Elements</b>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                    <div class="row">
                                            <div class="col-lg-12">
                                                <button type="button" style="height:35px;width:35px" ng-data-model="H"> H </button>
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <button type="button" style="height:35px;width:35px" ng-data-model="He"> He </button>
                                            </div> 
                                            <div class="col-lg-12">
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Li"> Li </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Be"> Be </button>
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                               
                                                <button type="button" style="height:35px;width:35px" ng-data-model="B"> B </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="C"> C </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="N"> N </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="O"> O </button>
                                                <button type="button" style="height:35px;width:35px"ng-data-model= "F"> F </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ne"> Ne </button>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Na"> Na </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Mg"> Mg </button>
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Al"> Al </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Si"> Si </button>
                                                <button type="button" style="height:35px;width:35px"ng-data-model="P"> P </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="S"> S </button>
                                                <button type="button" style="height:35px;width:35px"ng-data-model="Cl"> Cl </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ar"> Ar </button>
                                            </div>
                                            <div class="col-lg-12"> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="K"> K </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ca"> Ca </button>
                                                <button type="button" style="height:35px;width:35px"ng-data-model="Sc"> Sc </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ti"> Ti </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="V"> V </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Cr"> Cr </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Mn"> Mn </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Fe"> Fe </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Co"> Co </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ni"> Ni </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Cu"> Cu </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Zn"> Zn </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ga"> Ga </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ge"> Ge </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="As"> As </button>
                                                <button type="button" style="height:35px;width:35px"ng-data-model="Se"> Se </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Br"> Br </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Kr"> Kr </button>
                                            </div>
                                            <div class="col-lg-12"> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Rb"> Rb </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Sr"> Sr </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Y"> Y </button>
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Zr"> Zr </button> 
                                                <button type="button" style="height:35px;width:35px"  ng-data-model="Nb"> Nb </button>
                                                <button type="button" style="height:35px;width:35px"  ng-data-model="Mo"> Mo </button>  
                                                <button type="button" style="height:35px;width:35px"> Tc </button>
                                                <button type="button" style="height:35px;width:35px"> Ru </button> 
                                                <button type="button" style="height:35px;width:35px"> Rh </button> 
                                                <button type="button" style="height:35px;width:35px"> Pd </button>
                                                <button type="button" style="height:35px;width:35px"> Ag </button>
                                                <button type="button" style="height:35px;width:35px"> Cd </button>  
                                                <button type="button" style="height:35px;width:35px"> In </button>
                                                <button type="button" style="height:35px;width:35px"> Sn </button> 
                                                <button type="button" style="height:35px;width:35px"> Sb </button>  
                                                <button type="button" style="height:35px;width:35px"> Te </button> 
                                                <button type="button" style="height:35px;width:35px"> I </button>
                                                <button type="button" style="height:35px;width:35px"> Xe </button>
                                            </div>
                                            <div class="col-lg-12"> 
                                                <button type="button" style="height:35px;width:35px"> Cs </button>
                                                <button type="button" style="height:35px;width:35px"> Ba </button> 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                <button type="button" style="height:35px;width:35px"> Hf </button> 
                                                <button type="button" style="height:35px;width:35px"> Ta </button>
                                                <button type="button" style="height:35px;width:35px"> W </button>
                                                <button type="button" style="height:35px;width:35px"> Re </button>
                                                <button type="button" style="height:35px;width:35px"> Os </button> 
                                                <button type="button" style="height:35px;width:35px"> Ir </button> 
                                                <button type="button" style="height:35px;width:35px"> Pt </button> 
                                                <button type="button" style="height:35px;width:35px"> Au </button>
                                                <button type="button" style="height:35px;width:35px"> Hg </button> 
                                                <button type="button" style="height:35px;width:35px"> Tl </button>
                                                <button type="button" style="height:35px;width:35px"> Pb </button>
                                                <button type="button" style="height:35px;width:35px"> Bi </button>
                                                <button type="button" style="height:35px;width:35px"> Po </button> 
                                                <button type="button" style="height:35px;width:35px"> At </button> 
                                                <button type="button" style="height:35px;width:35px"> Rn </button> 
                                            </div>
                                            <div class="col-lg-12"> 
                                                <button type="button" style="height:35px;width:35px"> Fr </button> 
                                                <button type="button" style="height:35px;width:35px"> Ra </button> 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                                                <button type="button" style="height:35px;width:35px"> Rf </button> 
                                                <button type="button" style="height:35px;width:35px"> Db </button>
                                                <button type="button" style="height:35px;width:35px"> Sg </button>
                                                <button type="button" style="height:35px;width:35px"> Bh </button> 
                                                <button type="button" style="height:35px;width:35px"> Hs </button> 
                                                <button type="button" style="height:35px;width:35px"> Mt </button> 
                                                <button type="button" style="height:35px;width:35px"> Ds </button>
                                                <button type="button" style="height:35px;width:35px"> Rg </button>
                                                <button type="button" style="height:35px;width:35px"> Cn </button>
                                                <button type="button" style="height:35px;width:35px"> Uut </button>
                                                <button type="button" style="height:35px;width:35px"> Fi </button> 
                                                <button type="button" style="height:35px;width:35px"> Uup </button>
                                                <button type="button" style="height:35px;width:35px"> Lv </button> 
                                                <button type="button" style="height:35px;width:35px"> Uus </button>
                                                <button type="button" style="height:35px;width:35px"> Uuo </button>
                                            </div>
                                            <div class = "divider"></div>
                                            <div class="bottom">
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <button type="button" style="height:35px;width:35px"> La </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Ca"> Ca </button> 
                                                <button type="button" style="height:35px;width:35px"> Pr </button> 
                                                <button type="button" style="height:35px;width:35px"> Nd </button> 
                                                <button type="button" style="height:35px;width:35px"> Pm </button> 
                                                <button type="button" style="height:35px;width:35px"> Sm </button> 
                                                <button type="button" style="height:35px;width:35px"> Eu </button> 
                                                <button type="button" style="height:35px;width:35px"> Gd </button> 
                                                <button type="button" style="height:35px;width:35px"> Tb </button> 
                                                <button type="button" style="height:35px;width:35px"> Dy </button> 
                                                <button type="button" style="height:35px;width:35px"> Ho </button> 
                                                <button type="button" style="height:35px;width:35px"> Er </button> 
                                                <button type="button" style="height:35px;width:35px"> Tm </button> 
                                                <button type="button" style="height:35px;width:35px"> Yb </button> 
                                                <button type="button" style="height:35px;width:35px"> Lu </button> 
                                            </div>
                                            <div class="bottom">
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <button type="button" style="height:35px;width:35px"> Ac </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="Th"> Th </button> 
                                                <button type="button" style="height:35px;width:35px"> Pa </button> 
                                                <button type="button" style="height:35px;width:35px" ng-data-model="U"> U </button> 
                                                <button type="button" style="height:35px;width:35px"> Np </button> 
                                                <button type="button" style="height:35px;width:35px"> Pu </button> 
                                                <button type="button" style="height:35px;width:35px"> Am </button> 
                                                <button type="button" style="height:35px;width:35px"> Cm </button> 
                                                <button type="button" style="height:35px;width:35px"> Bk </button> 
                                                <button type="button" style="height:35px;width:35px"> Cf </button> 
                                                <button type="button" style="height:35px;width:35px"> Es </button> 
                                                <button type="button" style="height:35px;width:35px"> Fm </button> 
                                                <button type="button" style="height:35px;width:35px"> Md </button> 
                                                <button type="button" style="height:35px;width:35px"> No </button> 
                                                <button type="button" style="height:35px;width:35px"> Lr </button> 
                                            </div> 
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                         <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                                <b>Wavelengths</b>
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">        
                                    <div class = "row">
                                        <div class= "col">
                                            <div class="col-lg-1">
                                                <img src = "/img/wavelengthRuler.jpg"  style = " width:85px;height:535px"> </img>
                                            </div>
                                            
                                            <div class="col-lg-11">
                                                <div class = "divider"></div>
                                                <div class = "divider"></div>
                                                <div class="row">
                                                    <button type="button" style="height:43px;width:100px" ng-data-model="radiowave"> Radiowave </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:105px;width:100px" ng-data-model="microwave"> Microwave </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:55px;width:100px" ng-data-model="farIR"> Far-IR </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:22px;width:100px" ng-data-model="longIR"> Long-IR </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:22px;width:100px" ng-data-model="midIR"> Mid-IR </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:22px;width:100px" ng-data-model="shortIR"> Short-IR </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:22px;width:100px" ng-data-model="nearIR"> Near-IR </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:22px;width:100px" ng-data-model="visible"> Visible </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:53px;width:100px" ng-data-model="ultraviolet"> Ultraviolet </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:63px;width:100px" ng-data-model="xRay"> X-Ray </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" style="height:53px;width:100px" ng-data-model="gamma"> Gamma </button>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                         <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                                <b>Compounds</b>
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                    <div class = "row">
                                        <div class="col-lg-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="pyroxene">
                                                            pyroxene
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="olivine">
                                                            olivine
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="hematite">
                                                            hematite
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="feldspar">
                                                            feldspar
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="tiBearing">
                                                            Ti-bearing
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="sulfatesites">
                                                            sulf/ates/ites
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="oxides">
                                                            oxides
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="nitrates">
                                                            nitrates
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="carbonates">
                                                            carbonates
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="chChains">
                                                            c-h chains
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="clay">
                                                            clay
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="phyllosilicate">
                                                            phyllosilicate
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="h2o">
                                                            h2o
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="co2">
                                                            co2
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="ch4">
                                                            ch4
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="nh3">
                                                            nh3
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "compounds"  value="o3">
                                                            o3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                
            
                    <div class="accordion-group">
                        <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                                <b>Particles</b>
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                    <div class = "row">
                                        <div class="col-lg-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "particles"  value="ions">
                                                            ions
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "particles"  value="electrons">
                                                            electrons
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "particles"  value="neutrons">
                                                            neutrons
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsRadios" ng-model= "particles"  value="decayParticles">
                                                            decay particles
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                                <b>Fields</b>
                            </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse in" collapse=true>
                            <div class="accordion-inner">
                                <div class = "row">
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsRadios" ng-data-model="magnetic">
                                                        magnetic fields
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class = "accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                                <b>Altimetry</b>
                            </a>
                        </div>
                        <div id="collapseSix" class="accordion-body collapse in" collapse=true>
                            <div class="accordion-inner">
                                <div class = "row">
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsRadios" ng-data-model="altimetry">
                                                        altimetry
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
<!--         <div class="divider"></div>
        <div class="col-lg-12">
            <div class="divider"></div>
            <div id="button">
                <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                    <span ng-show="loading">Searching...</span>
                    <span ng-hide="loading">Search Database</span>
                </button>
            </div>
        </div> -->

            <!-- <select multiple-class="form-control"> -->
            <select multiple class="form-control">
                <option ng-click="savePlanet('Earth')">Earth</option>
                <option ng-click="savePlanet('Mercury')">Mercury</option>
                <option ng-click="savePlanet('Mars')">Mars</option>
                <option ng-click="savePlanet('Venus')">Venus</option>
                <option ng-click="savePlanet('Moon')">Moon</option>
            </select>
        <div class="row">
            <div class="col-lg-8">
                <h3>Search Results</h3>
                <h6>Click on the link of each subsystem to learn more.</h6>

                <div class = "dividersmall"></div>
                <select multiple class="form-control" data-ng-model="result">
                    <option> </option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="col-lg-10">
                <div class = "divider"></div>
                <div id="button">
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" ng-click="prevPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                        <a type="button" ng-click="nextPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class = "divider"></div>
        <hr>
        <% include footer %>
    <div class = "divider"></div>
    </body>
 
</html>