<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="instrumentsController">
        <% include navbar %>
        <h1>Instrument Selection</h1>
        <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
        <div class="row">
            <div class="col">
                <div class="col-lg-18">
                    <button type="button" style="height:35px;width:35px"> H </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="button" style="height:35px;width:35px"> He </button>
                </div> 
                <div class="col-lg-18">
                    <button type="button" style="height:35px;width:35px"> Li </button> 
                    <button type="button" style="height:35px;width:35px"> Be </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   
                    <button type="button" style="height:35px;width:35px"> B </button>
                    <button type="button" style="height:35px;width:35px"> C </button>
                    <button type="button" style="height:35px;width:35px"> N </button> 
                    <button type="button" style="height:35px;width:35px"> O </button>
                    <button type="button" style="height:35px;width:35px"> F </button>
                    <button type="button" style="height:35px;width:35px"> Ne </button>
                </div>
                <div class="col-lg-18">
                    <button type="button" style="height:35px;width:35px"> Na </button>
                    <button type="button" style="height:35px;width:35px"> Mg </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="button" style="height:35px;width:35px"> Al </button>
                    <button type="button" style="height:35px;width:35px"> Si </button>
                    <button type="button" style="height:35px;width:35px"> P </button> 
                    <button type="button" style="height:35px;width:35px"> S </button>
                    <button type="button" style="height:35px;width:35px"> Cl </button>
                    <button type="button" style="height:35px;width:35px"> Ar </button>

                </div>
                <div class="col-lg-18"> 
                    <button type="button" style="height:35px;width:35px"> K </button>
                    <button type="button" style="height:35px;width:35px"> Ca </button>
                    <button type="button" style="height:35px;width:35px"> Sc </button> 
                    <button type="button" style="height:35px;width:35px"> Ti </button>
                    <button type="button" style="height:35px;width:35px"> V </button> 
                    <button type="button" style="height:35px;width:35px"> Cr </button>
                    <button type="button" style="height:35px;width:35px"> Mn </button> 
                    <button type="button" style="height:35px;width:35px"> Fe </button>
                    <button type="button" style="height:35px;width:35px"> Co </button>
                    <button type="button" style="height:35px;width:35px"> Ni </button>
                    <button type="button" style="height:35px;width:35px"> Cu </button>
                    <button type="button" style="height:35px;width:35px"> Zn </button>
                    <button type="button" style="height:35px;width:35px"> Ga </button>
                    <button type="button" style="height:35px;width:35px"> Ge </button>
                    <button type="button" style="height:35px;width:35px"> As </button>
                    <button type="button" style="height:35px;width:35px"> Se </button>
                    <button type="button" style="height:35px;width:35px"> Br </button>
                    <button type="button" style="height:35px;width:35px"> Kr </button>
                </div>
                <div class="col-lg-18"> 
                    <button type="button" style="height:35px;width:35px"> Rb </button>
                    <button type="button" style="height:35px;width:35px"> Sr </button>
                    <button type="button" style="height:35px;width:35px"> Y </button>
                    <button type="button" style="height:35px;width:35px"> Zr </button> 
                    <button type="button" style="height:35px;width:35px"> Nb </button>
                    <button type="button" style="height:35px;width:35px"> Mo </button>  
                    <button type="button" style="height:35px;width:35px"> Tc </button>
                    <button type="button" style="height:35px;width:35px"> Ru </button> 
                    <button type="button" style="height:35px;width:35px"> Rh </button> 
                    <button type="button" style="height:35px;width:35px"> Pd </button>
                    <button type="button" style="height:35px;width:35px"> Ag </button>
                    <button type="button" style="height:35px;width:35px"> Cd </button>  
                    <button type="button" style="height:35px;width:35px"> In </button>
                    <button type="button" style="height:35px;width:35px"> Sn </button> 
                    <button type="button" style="height:35px;width:35px"> Sb </button>  
                    <button type="button" style="height:35px;width:35px"> Te </button> 
                    <button type="button" style="height:35px;width:35px"> I </button>
                    <button type="button" style="height:35px;width:35px"> Xe </button>                
                </div>
                <div class="col-lg-18"> 
                    <button type="button" style="height:35px;width:35px"> Cs </button>
                    <button type="button" style="height:35px;width:35px"> Ba </button> 
                    <button type="button" style="height:35px;width:35px"> * </button> 
                    <button type="button" style="height:35px;width:35px"> Hf </button> 
                    <button type="button" style="height:35px;width:35px"> Ta </button>
                    <button type="button" style="height:35px;width:35px"> W </button>
                    <button type="button" style="height:35px;width:35px"> Re </button>
                    <button type="button" style="height:35px;width:35px"> Os </button> 
                    <button type="button" style="height:35px;width:35px"> Ir </button> 
                    <button type="button" style="height:35px;width:35px"> Pt </button> 
                    <button type="button" style="height:35px;width:35px"> Au </button>
                    <button type="button" style="height:35px;width:35px"> Hg </button> 
                    <button type="button" style="height:35px;width:35px"> Tl </button>
                    <button type="button" style="height:35px;width:35px"> Pb </button>
                    <button type="button" style="height:35px;width:35px"> Bi </button>
                    <button type="button" style="height:35px;width:35px"> Po </button> 
                    <button type="button" style="height:35px;width:35px"> At </button> 
                    <button type="button" style="height:35px;width:35px"> Rn </button> 
                </div>
                <div class="col-lg-18"> 
                    <button type="button" style="height:35px;width:35px"> Fr </button> 
                    <button type="button" style="height:35px;width:35px"> Ra </button> 
                    <button type="button" style="height:35px;width:35px"> ** </button> 
                    <button type="button" style="height:35px;width:35px"> Rf </button> 
                    <button type="button" style="height:35px;width:35px"> Db </button>
                    <button type="button" style="height:35px;width:35px"> Sg </button>
                    <button type="button" style="height:35px;width:35px"> Bh </button> 
                    <button type="button" style="height:35px;width:35px"> Hs </button> 
                    <button type="button" style="height:35px;width:35px"> Mt </button> 
                    <button type="button" style="height:35px;width:35px"> Ds </button>
                    <button type="button" style="height:35px;width:35px"> Rg </button>
                    <button type="button" style="height:35px;width:35px"> Cn </button>
                    <button type="button" style="height:35px;width:35px"> Uut </button> 
                    <button type="button" style="height:35px;width:35px"> Fi </button> 
                    <button type="button" style="height:35px;width:35px"> Uup </button> 
                    <button type="button" style="height:35px;width:35px"> Lv </button> 
                    <button type="button" style="height:35px;width:35px"> Uus </button>
                    <button type="button" style="height:35px;width:35px"> Uuo </button>

                </div>

                <div class = "divider"></div>
               
                <div id="lowerContainer">
                <div class="bottom">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="button" style="height:35px;width:35px"> La </button> 
                    <button type="button" style="height:35px;width:35px"> Ca </button> 
                    <button type="button" style="height:35px;width:35px"> Pr </button> 
                    <button type="button" style="height:35px;width:35px"> Nd </button> 
                    <button type="button" style="height:35px;width:35px"> Pm </button> 
                    <button type="button" style="height:35px;width:35px"> Sm </button> 
                    <button type="button" style="height:35px;width:35px"> Eu </button> 
                    <button type="button" style="height:35px;width:35px"> Gd </button> 
                    <button type="button" style="height:35px;width:35px"> Tb </button> 
                    <button type="button" style="height:35px;width:35px"> Dy </button> 
                    <button type="button" style="height:35px;width:35px"> Ho </button> 
                    <button type="button" style="height:35px;width:35px"> Er </button> 
                    <button type="button" style="height:35px;width:35px"> Tm </button> 
                    <button type="button" style="height:35px;width:35px"> Yb </button> 
                    <button type="button" style="height:35px;width:35px"> Lu </button> 
                </div>
                <div class="bottom">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="button" style="height:35px;width:35px"> Ac </button> 
                    <button type="button" style="height:35px;width:35px"> Th </button> 
                    <button type="button" style="height:35px;width:35px"> Pa </button> 
                    <button type="button" style="height:35px;width:35px"> U </button> 
                    <button type="button" style="height:35px;width:35px"> Np </button> 
                    <button type="button" style="height:35px;width:35px"> Pu </button> 
                    <button type="button" style="height:35px;width:35px"> Am </button> 
                    <button type="button" style="height:35px;width:35px"> Cm </button> 
                    <button type="button" style="height:35px;width:35px"> Bk </button> 
                    <button type="button" style="height:35px;width:35px"> Cf </button> 
                    <button type="button" style="height:35px;width:35px"> Es </button> 
                    <button type="button" style="height:35px;width:35px"> Fm </button> 
                    <button type="button" style="height:35px;width:35px"> Md </button> 
                    <button type="button" style="height:35px;width:35px"> No </button> 
                    <button type="button" style="height:35px;width:35px"> Lr </button> 
                </div> 
            </div>

            <div class="col-lg-12">
                <div class = "divider"></div>
                <div id="button">
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" href="/tool" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                        <a type="button" href="/tool2" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
 
</html>