<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>
<% include navbar %>
<div class="container" data-ng-controller="loginController">
    <div ng-show="!showInfo">
        <div class="dividerlargest"></div>
    </div>
    <div ng-show="showInfo">
        <div class="divider"></div>
        <div class="alert alert-danger" role="alert">{{results.message}}</div>
    </div>
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class="text-center"><i class="ion-log-in"></i> Log in</h2>
            <div class="divider"></div>
            <div class="input-group input-group-lg">
                <div class="input-group-addon" id="loginaddon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" placeholder = "Email Address" ng-model="email"/>
            </div>
            <div class="dividersmall"></div>
            <div class="input-group input-group-lg">
                <div class="input-group-addon" id="loginaddon"><span class="glyphicon glyphicon-lock"></span></div>
                <input type="password" class="form-control" placeholder = "Password" ng-model="password"/>
            </div>
            <div class="divider"></div>
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="logIn()" ng-disabled="email==null||password == mull">
                Log In
            </button>
            <hr>
            <p class="text-center text-muted">
                <small>Don't have an account yet? <a href="/signup">Sign up</a></small>
            </p>
            <hr>
            <a href="/list" class="btn btn-default btn-lg btn-block">
                Log In As Guest
            </a>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
</html>

