<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>
<% include navbar %>

    <div class="container" ng-controller="searchController">
        <div class="divider"></div>

        <div class="jumbotron">
            <h1>Parts List</h1>
            <p>This is the database containing out most up-to-date parts for all subsystems. If you would like to contribute to our database, please log in with an existing account, or create a new one. Please note that you'll need administrator access in order to edit our current data. This can be requested by contacting the webmaster at huongnvo@uw.edu. You can also log in as a guest, if you would like to see our database without modification.</p>
            <p>
            <div class="dividerlarger"></div>
            <a class="btn btn-lg btn-success" href="/login"><i class="ion-log-in"></i> Log in</a>
            <a class="btn btn-lg btn-primary" href="/signup"><i class="ion-person-add"></i> Create account</a>
            </p>
        </div>

        <hr>
        <% include footer %>
        <div class = "divider"></div>
    </div>

</html>
