<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body class="container" data-ng-controller="powerController">
    <% include navbar %>
    <h1>Power Selection</h1>
    <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h4>User Input</h4>
            CubeSat Volume: <input type="number" class="form-control" placeholder="0 (default value)" data-ng-model="volume" />
            <div class = "divider"></div>
            Solar Panel Configurations (DO NOT CHECK IF YOU WANT NON DEPLOYABLE PANELS):
            <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsRadios" ng-model= "dep"  value="Deployable">
                            Deployable
                    </label>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ng-hide" ng-show="dep">
                    
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" ng-model= "ppw" value="onePPW">
                                    One Panel per Wing
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" ng-model= "ppw" value="twoPPW">
                                    Two Panels per Wing
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" ng-model= "ppw" value="threePPW">
                                    Three Panels per Wing
                            </label>
                        </div>
                </div>
            </div>
            <div class = "dividersmall"></div>
            <div class="col-lg-12">
                <div class="ng-hide" ng-show="dep" >
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios2" ng-model= "wing" value="oneW">
                                    One Wing
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios2" ng-model= "wing" value="twoW">
                                    Two Wings
                            </label>
                        </div>
                </div>
            </div>
        </div>
<!--        <div class="col-lg-12">
            <div class = "dividerlarge"></div>
            <div id="button">
                <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                    <span ng-show="loading">Searching...</span>
                    <span ng-hide="loading">Search Database</span>
                </button>
            </div>
        </div> -->
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Search Results</h3>
            <h6>Click on the link of each subsystem to learn more.</h6>
            <div class = "divider"></div>
            Solar Panels:
            <select multiple class="form-control">
                <option ng-repeat="part in parts|filter: filterSolar">
                       {{part.Name}}
                </option>
            </select>
            <div class = "divider"></div>
            Batteries:
            <select multiple class="form-control">
                <option ng-repeat="part in parts|filter: filterBattery">
                       {{part.Name}}
                </option>
            </select>
            <div class = "divider"></div>
            EPS:
            <select multiple class="form-control">
                <option ng-repeat="part in parts|filter: filterEPS">
                       {{part.Name}}
                </option>
            </select>
        </div>
        <div class="col-lg-12">
            <div class = "divider"></div>
            <div id="button">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" ng-click="prevPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                    <a type="button" ng-click="nextPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "divider"></div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>

</html>