<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body class="container" data-ng-controller="resultsController">
    <% include navbar %>

    <div class="jumbotron">
        <h1>Mission: {{Name}}</h1>
        <p>Final CubeSat Configuration</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="list-group">
                    <div class="list-group-item">Target: {{target}}</div>
                    <div class="list-group-item">Objectives: {{Objectives}}</div>
                    <div class="list-group-item">Instrumentation: {{instrument.Name}}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="list-group">
                    <div class="list-group-item">Mass: {{attitude.Mass + antenna.Mass + receiver.Mass + cdh.Mass + instrument.Mass + panels.Mass + batteries.Mass + eps.Mass + propulsion.Mass + bus.Mass + deployer.Mass + thermal.Mass}}</div>
                    <div class="list-group-item">Power: {{attitude.Power + antenna.Power + receiver.Power + cdh.Power + instrument.Power + panels.Power + batteries.Power + eps.Power + propulsion.Power + bus.Power + deployer.Power + thermal.Power}}</div>
                    <div class="list-group-item">Volume: {{attitude.Volume + antenna.Volume + receiver.Volume + cdh.Volume + instrument.Volume + panels.Volume + batteries.Volume + eps.Volume + propulsion.Volume + <!-- bus.Volume + --> deployer.Volume + thermal.Volume}}</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>Subsystems</h2>
    <div class="row">
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>ATTITUDE CONTROL</strong></div> 
                <ul class="list-group">
                    <li class="list-group-item">Name: {{attitude.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{attitude.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{attitude.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>ANTENNA</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{antenna.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{antenna.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{antenna.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>RECEIVER</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{receiver.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{receiver.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{receiver.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>COMMAND & DATA HANDLING</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{cdh.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{cdh.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{cdh.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>SOLAR PANELS</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{panels.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{panels.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{panels.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>BATTERIES</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{batteries.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{batteries.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{batteries.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>EPS</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{eps.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{eps.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{eps.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>THERMAL</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{thermal.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{thermal.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{thermal.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>PROPULSION</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{propulsion.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{propulsion.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{propulsion.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>GROUND STATION</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{station.Name}}</li>
                    <li class="list-group-item">Band: {{station.Band}}</li>
                    <li class="list-group-item">Location: {{station.Loc}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>BUS</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{bus.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{bus.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{bus.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>DEPLOYER</strong></div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{deployer.Name}}</li>
                    <li class="list-group-item">Manufacturer: {{deployer.Manufacturer}}</li>
                    <li class="list-group-item">Type: {{deployer.Type}}</li>
                </ul>
                <div class="panel-footer">
                    <a type="button" data-toggle="modal" data-target="#editPartModal" ng-click="deletePart(part._id)" data-whatever={{part}} class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class = "divider"></div>
            <div id="button">
                <a type="button" href="/tool" class="btn btn-default">Return to Main Page</a>
                <a href="//FreeHTMLtoPDF.com/?convert&iconsize=32&localhtml=1&formdata=1"><img src="//FreeHTMLtoPDF.com/images/apiicon_32.png" /></a><script type="text/javascript" src="//FreeHTMLtoPDF.com/scripts/api.js" />
            </div>
        </div>
    </div>
    <div class = "divider"></div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>

</html>