<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>
<% include navbar %>

    <div class="container" ng-controller="searchController">
        <div class="divider"></div>
        <div ng-if="isAuthenticated() && currentUser.username">
            <h1>Subsystems List</h1>
            <hr></hr>
            <div class="row">
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/attitude"  class="btn btn-block btn-default btn-lg btn-round">Attitude</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/cdh"  class="btn btn-block btn-default btn-lg btn-round">Command, Data & Handling</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/comm"  class="btn btn-block btn-default btn-lg btn-round">Communication</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/instruments"  class="btn btn-block btn-default btn-lg btn-round">Instruments</a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/power"  class="btn btn-block btn-default btn-lg btn-round">Power</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/propulsion"  class="btn btn-block btn-default btn-lg btn-round">Propulsion</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/station"  class="btn btn-block btn-default btn-lg btn-round">Ground Stations</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="button">
                        <a type="button" href="/thermal"  class="btn btn-default btn-block btn-lg btn-round">Thermal, Mechanical</a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!isAuthenticated()">
            <div class="jumbotron">
                <h1>Parts List</h1>
                <p>This is the database containing out most up-to-date parts for all subsystems. To continue, please log in with an existing account, or create a new one. Please note that you'll need administrator access in order to edit our database. This can be requested -- please contact the webmaster at admin@cubesatsforspace.com</p>
                <p>
                <div class="dividerlarge"></div>
                <a class="btn btn-lg btn-success" href="/login"><i class="ion-log-in"></i> Log in</a>
                <a class="btn btn-lg btn-primary" href="/signup"><i class="ion-person-add"></i> Create account</a>
                </p>
            </div>
        </div>

        <hr>
        <% include footer %>
        <div class = "divider"></div>

    </div>
</html>