<!DOCTYPE html>
<html ng-app="spaceFrontierApp">
<% include header %>
<body ng-controller="signinController">
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <p>{{profile}}</p>
    <p>{{name}}</p>
    <button type="button" class="btn btn-danger" ng-click="signOut()">
        Sign Out
    </button>
    <button type="button" class="btn btn-info" ng-click="load()">
        info
    </button>

</body>
</html>