<!DOCTYPE html>
<html ng-app="spaceFrontierApp">
<% include header %>

    <body class="container" data-ng-controller="summaryController">
        <% include navbar %>
        <h1>Mission Summary</h1>
        <p>On this page please input the name of your cubesat mission and a brief summary of the objectives of your mission.</p>
        <hr>
            <div class="row">
                <div class="col-lg-5">
                    <h3>Name: </h3>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="mission name" ng-model="inputName" cols="70"></input>
                    <div class = "divider"></div>
                    <h3>Objectives: </h3>
                    <div class="input-group2">
                          <textarea id="text" cols="70" rows="5" placeholder="  mission objectives" ng-model="inputObjective"></textarea>
                    </div>
                    <h4>Available Targets:</h4>
                    <div class = "divider"></div>
                        <select multiple class="form-control" size="8" cols="70">
                            <option ng-click="savePlanet('Earth Low')">Earth-Low</option>
                            <option ng-click="savePlanet('Earth Medium')">Earth-Medium</option>
                            <option ng-click="savePlanet('Earth High')">Earth-High</option>
                            <option ng-click="savePlanet('Mercury')">Mercury</option>
                            <option ng-click="savePlanet('Mars')">Mars</option>
                            <option ng-click="savePlanet('Venus')">Venus</option>
                            <option ng-click="savePlanet('Moon')">Moon</option>
                        </select>
                    </div>
                </div> 
                
                <div class="col-lg-1">
                    <br>
                    <br>
                    <a type="button" ng-click="addName()" id="pushdown2" class="btn btn-sm btn-default" title= "Add Info"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a type="button" ng-click="addObjectives()" id="pushdown2" class="btn btn-sm btn-default" title= "Add Info"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a type="button" ng-click="addTarget()" id="pushdown2" class="btn btn-sm btn-default" title= "Add Info"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
                <div class="col-lg-6">
                    
                    <h3>Current Design</h3>
                    <select multiple class="form-control" size="22">
                        <option>Name: {{Name}}</option>
                        <option>Objectives: {{Objectives}}</option>
                        <option>Target: {{target}}</option>
                        <option>Instrumentation: {{instrumentPart.Name}}</option>
                        <option>Attitude: {{attitudePart.Name}}</option>
                        <option>Propulsion: {{propulsionPart.Name}}</option>
                        <option>Ground Station: {{stationPart.Name}}</option>
                        <option>Antenna: {{antennaPart.Name}}</option>
                        <option>Receiver: {{receiverPart.Name}}</option>
                        <option>CDH: {{cdhPart.Name}}</option>
                        <option>Solar Panels: {{panelsPart.Name}}</option>
                        <option>Batteries: {{batteriesPart.Name}}</option>
                        <option>EPS: {{epsPart.Name}}</option>
                        <option>Bus: {{busPart.Name}}</option>
                        <option>Deployer: {{deployerPart.Name}}</option>
                        <option>Thermal: {{thermalPart.Name}}</option>
                    </select>
                </div>
            </div> 
            <div class = "divider"></div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <nav>
                    <ul class="pager">
                        <button type="button" class='btn btn-default' id="round" ng-click="prevPage()" style="float: left; color:#0099CC; border: false" title="Instructions"><span aria-hidden="true">&larr;</span>Previous Page </button>

                        <button type="button" class='btn btn-default' id="round" ng-click="nextPage()" style="float: right; color:#0099CC; border: false" ng-disabled="Name==null||Objectives==null||target==null" title="Instrument">Next Page <span aria-hidden="true">&rarr;</span></button>
                    </ul>
                    </nav>  
                </div>
            </div>
        <hr>
        <% include footer %>
        <div class = "divider"></div>
    </body>
 
</html>
