<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>
 

<body data-ng-controller="toolController">
    <% include navbar %>
    <div class="jumbotron" style="background-image: url(/img/toolcube2.jpg);background-size: 100%; height: 700px">
        <div id="carousel1" class = "carousel slide">
            <div class="carousel-inner" role="listbox" style="height: 450px">
                <div class="item active">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="container" id="indexjumbo">
                            <h1>Welcome to the SPACE Tool</h1>
                            <br><br><br><br><br><br><br><br><br>
                            <p>Flip through these slides to learn more about our algorithms<br>or click the button below to get started.</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right">
                            <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                                <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span  style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Instruments Selection</h1>
                            <div class="divider"></div>
                            <p>The instrumentation is the central part of our CubeSat. We will guide you through the selection of an instrument by first asking what part of the electromagnetic spectrum you would like to observe. The spectrum is divided into five distinct regions, based on the energy production mechanisms, detection methods, as well as analysis technique associated -- these will be explained further on the page. After choosing a region, we will narrow down the parts capable of working with the associated wavelength, as well as the scale of process you will be able to observe.</p>
                        </div>
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right">
                            <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                                <span  style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Attitude Selection</h1>
                            <div class="divider"></div>
                            <p>This section will let you find an appropriate attitude control subsystem for your CubeSat. The algorithm asks for an altitude that your instrument will be stationed at, along with a maximum spatial resolution for your instrument. From these two fields, we will calculate an angle of knowledge, which will act as a driver for the angle of control (generally, the angle of knowledge needs to be 10 times better than the angle of control). <!-- Angle of Knowledge is calculated as: arctan(resolution/(1000*attitude)). The angle is represented in degrees. Angle of control is calculated as 10x(Calculated Angle of Knowledge). Instruments are displayed if their angle of precision is greater than or equal to the calculated angle of knowledge. -->From there, we will display all subsystems that has an angle of precision lesser than or equal to the calculated angle of knowledge.</p>
                            <!-- <h3>What to Do: </h3>
                            <h4>On this page please input the altitude at which you would like to take measurements, and the maximum spatial resolution of your instrument. With this information we will calculate the required angle of knowledge and angle of control for your mission. This will allow us to search for acceptable attitude control systems.</h4> -->
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Propulsion Selection</h1>
                            <div class="divider"></div>
                            <p>This section will let you calculate the total &#916V required to get to your desired science orbit. For a more complicated trajectory, the total &#916V can be calculated from a linear sum of individual &#916V, also taking into account a change in inclination (if required). We have used some generalizations to generate the &#916V for trajectories, which will be explained on the page. Once the final value has been calculated (or given by the user), we can filter down and find the appropriate propulsion mechanisms according to the &#916V budget.</p> <!-- &#916V budget is calculated by adding the required &#916V to reach the target to the required &#916V to reach science orbit and adjust inclination. There are some generalizations used to generate the &#916V for trajectories, these are explained on the page.</h4> -->
       <!--                      <h3>What to Do:</h3>
                            <h4>Select one of the tabs; "Input Specifics" or "Input Own &#916V". These tabs allow you to use the tool to generate a dV estimate or simply add your own if you have one. Fill out all required fields and then press "Caculate Results". Then, select an appropriate subsystem.</h4> -->
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Communication Selection</h1>
                            <div class="divider"></div>
                            <p>This section will let you choose an antenna, receiver, and ground station from a selected band. We currently have parts for the VHF, UVF, S, and X band, which ranges from .3 GHz to 12 GHz. Once the antenna, receiver, and ground station are chosen for an associated band, we will calculate a free-path space loss term, a receive power term, a signal to noise ratio, and a maximum bit rate achievable by the chosen subsystem using known values of the chosen parts (such as EIRP, gain, frequency, bandwidth, and transmit power).</p> <!-- The space loss (dB) is proportional to the square of the distance between transmitter and receiver, as well as the square of the frequency of the signal. The receiver power term (dBW) is calculated by summing up the EIRP of the station, the gain of the antenna, and the negative of the space loss. The signal to noise ratio (dB) is the sum of </h4> -->
<!--                             <h3>What to Do:</h3>
                            <h4>Just select your prefered band!</h4> -->
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>CDH Selection</h1>
                            <div class="divider"></div>
                            <p>This section will let you find an appropriate command and data handling subsystem capable of processing and storing the data generated during the mission. First, the algorithm will ask you to fill in some information about the collection system in order to find the minimum number of kilobits generated per second during the process of acquiring data. This value will then be used to calculate total data volume per day by looking at the amount of time the satellite is actively generating data. From there, we will display all parts with the appropriate datarate.</p>
                            <!-- <h3>Algorithm: </h3>
                            <h4>
                            <h5>Displayed Parts only have a processing capability greater than the # of bits per second of information you need to transmit and can handle more millions of instructions per second than your mission needs. Bits per Second can be calculated by our program in the 3 ways shown below:</h5>
                            <h5>Bits per Second = # Channels x Bits/Channel x Integrations per second</h4>
                            <h5>Bits per Second = (pixel array in x direction) * (pixel array in y direction) *  (Integrations per second)</h4>
                            <h5>Bits per Second = inputted Bits/Second</h4>
                            <h3>What to Do:</h3>
                            <h5>Select which way you would like to calculate bits per second based on your current knowledge of specifications and input how many millions of instructions per second your part must handle.</h5> -->
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Power Selection</h1>
                            <div class="divider"></div>
                            <p>This section will let you find an appropriate power system for your design, consisting of solar panels, batteries, and an electronic power system. The volume and a desirable configurable (deployable vs. nondeployable) will determine the applicable solar panels for your design. Following that selection, all batteries and electronic power systems will be displayed for your choosing.
<!--                             <h3>Algorithm: </h3>
                            <h4>Filters out solar panels by volume and whether they are Non Deployable/Deployable. If they are deployable panels are filtered by how many wings you specify and hoy many panels per wing you specify. All On Board Computers and Batteries are displayed.</h4>
                            <h3>What to Do:</h3>
                            <h4>Select the Volume of your cubesat and whether your solar panels will be deployable. If you chose Deployable panels, you must specify how many wings and how many panels per wing you want.</h4>
 -->                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <a class="btn btn-sm" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="prev">
                            <span style="font-size:3.5em" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="row"></div>
                        <div class="container" id="indexjumbo">
                            <h1>Frame Selection</h1>
                            <div class="divider"></div>
<!--                             <h3>Algorithm: </h3>
                            <h4>Filters out potential buses and deployers based on your specified cubesat volume. All available thermal equipment is displayed.</h4>
                            <h3>What to Do:</h3>
                            <h4>Just select your cubesat volume!</h4> -->
                            <p>For the final step of the CubeSat design, you will be guided to choose a frame, deployer, and thermal system for your design. Again, these choices are dependent on the desired volume of your CubeSat design. Once that volume is chosen, all available parts matching that description wil be shown.</p>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2">
                        <div class="row" style="height: 200px">
                        </div>
                        <p align="right"><a class="btn btn-lg" style="color: #FFFFFF; height: 30px" href="#carousel1" role="button" id="round" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a></p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align:center; color: white">
                <div id="rcorners" href="/tool" class="btn btn-lg" style="color: #FFFFFF;" ng-click="buildCubesat()">Let's Begin!</div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div id="button">
                <a type="button" ng-click="buildCubesat()" class="btn btn-lg btn-success btn-circle">Get Started!</a>
            </div>

        </div>
        <div class="col-lg-4">
        </div>
    </div>-->
    <div class="container">
        <% include footer %>
    </div>
    <div class = "divider"></div>
</body>
</html>
