<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>


<body class="container" data-ng-controller="trajectoryController">
    <% include navbar %>
    <h1>Propulsion Selection</h1>
    <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <h3>User Input</h3>
            <div class = "checkbox">
                <input type="checkbox" id="inputoption1" value="option1" data-ng-model="inputoptionOne"/>
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class = "accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                    <b>Target</b>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                        <select class="form-control">
                                            <option>Earth</option>
                                            <option>Mercury</option>
                                            <option>Mars</option>
                                            <option>Venus</option>
                                            <option>Moon</option>
                                        </select>
                                </div>
                            </div>    
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                                    <b>Trajectory Type</b>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="picktrajectoryRadio" id="trajectoryRadio" value="trajectoryoption1" data-ng-model="picktrajectoryRadio"/>
                                                Pick Trajectory:
                                            </label>
                                            <div class="row">
                                                <select class="form-control" data-ng-model="picktrajectory">
                                                    <option>Direct</option>
                                                    <option>Indirect</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="picktrajectoryRadio" id="trajectoryradio" value="trajectoryoption2" data-ng-model="inputtrajectorydVRadio"/>
                                                Input Trajectory deltaV:
                                            </label>
                                            <div class="row">
                                                <div class="input-group" >
                                                    <input type="number" class="form-control" data-ng-model="inputtrajectorydV"/> <span class="input-group-addon" id="dvaddon">km/s</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="picktrajectoryRadio" id="trajectoryRadio" value="trajectoryoption3" data-ng-model="deliverytotargetRadio"/>
                                                Delivery to Target
                                            </label>
                                        </div>
                                </div>    
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                                    <b>Orbit Type</b>
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion body collapse in" collapse=true>
                                <div class="accordion-inner">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pickorbitRadio" id="pickorbitRadio1"value="orbitoption1"/>
                                                Polar Orbit (70-90 deg)
                                            </label>
                                            <div class="row">
                                                <label>Apoapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon1">km</span>
                                                </div>
                                                <label>Periapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon2">km</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pickorbitRadio" id="pickorbitRadio1"value="orbitoption1"/>
                                                High Inclination Orbit (45-70 deg)
                                            </label>
                                            <div class="row">
                                                <label>Apoapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon5">km</span>
                                                </div>
                                                <label>Periapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon6">km</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pickorbitRadio" id="pickorbitRadio1"value="orbitoption1"/>
                                                Low Inclination Orbit (20-45 deg)
                                            </label>
                                            <div class="row">
                                                <label>Apoapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon7">km</span>
                                                </div>
                                                <label>Periapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon8">km</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pickorbitRadio" id="pickorbitRadio1" value="orbitoption2"/>
                                                Equatorial Orbit (0-20 deg)
                                            </label>
                                            <div class="row">
                                                <label>Apoapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon3">km</span>
                                                    </div>
                                                <label>Periapsis</label>
                                                    <div class="input-group">
                                                    <input type="number" class="form-control"/>
                                                    <span class="input-group-addon" id="orbitaddon4">km</span>
                                                    </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class = "accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour"> 
                                    <b>Required Inclination Change</b>
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse in" collapse=true>
                                <div class="accordion-inner">
                                    <div class="input-group">
                                    <input type="number" class="form-control" placeholder="100" data-ng-model="angle" aria-describedby="basic-addon2"/>
                                    <span class="input-group-addon" id="basic-addon2">deg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <h5>Or</h5>
            <div class = "checkbox">
                <input type="checkbox" id="inputoption1" value="option2" data-ng-model="inputoptionTwo"/>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group"> 
                                <div class = "accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive"> 
                                        <b>Input deltaV</b>
                                    </a>
                                </div>
                                <div id="collapseFive" class="accordion-body collapse in" collapse=true>
                                    <div class="accordion-inner">
                                        <div class="input-group">
                                        <input type="number" class="form-control" placeholder="100" data-ng-model="inputown" aria-describedby="basic-addon2"/>
                                        <span class="input-group-addon" id="basic-addon2">km/s</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>Calculation Results</h3>
            DV:<input class="form-control" type="number" data-ng-model="totaldV" readonly="readonly"/>
        </div>   
        <div class="divider"></div>
        <div class="col-lg-12">
            <div class="divider"></div>
            <div id="button">
                <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                    <span ng-show="loading">Searching...</span>
                    <span ng-hide="loading">Search Database</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" id="trajectorysearch">
            <h3>List Showing...</h3>
            <div class = "checkbox">
                <label>
                    <input type = "checkbox" name = "trajectoryoptionsRadios" id = "trajectoryoptionsRadios1" value = "type1" data-ng-model = "Thruster"/>
                        Thruster
                </label>
            </div>
            <div class = "checkbox">
                <label>
                    <input type = "checkbox" name = "trajectoryoptionsRadios" id = "trajectoryoptionsRadios2" value = "type2" data-ng-model = "Sail"/>
                        Sail
                </label>
            </div>
        </div>
        <div class="col-lg-8">
                <h3>Search Results</h3>
                <h6>Click on the link of each subsystem to learn more.</h6>

                <div class = "dividersmall"></div>
                <select multiple class="form-control" data-ng-model="result">
                    <option ng-repeat="part in trajectoryparts|filter:okType|filter:okdV">
                       {{part.Name}}, Manufacturer: {{part.Manufacturer}}, Mass: {{part.Mass}}, Power: {{part.Power}}, Volume: {{part.Volume}}, DeltaV: {{part.DeltaV}}
                    </option>
                </select>
        </div>
        <div class="col-lg-2">
                <h3>Sort by:</h3>
                <div class = "dividersmall"></div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model= "Mass"/>
                            Mass
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Power"/>
                            Power
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-ng-model="Volume"/>
                            Volume
                    </label>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-4">
            <h3>Search Filters</h3>
            <div class = "dividersmall"></div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Attitude Control System
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Sensor and/or Actuator
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        No Filter
                </label>
            </div>
        </div>-->
    </div>
        <div class="col-lg-12">
            <div class = "divider"></div>
            <div id="button">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" ng-click="prevPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                    <a type="button" ng-click="nextPage()" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "divider"></div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>


</html>