<!DOCTYPE html>
<html data-ng-app="spaceFrontierApp">
<% include header %>

<body class="container" data-ng-controller="trajectoryController">
    <% include navbar %>
    <h1>Trajectory Selection</h1>
    <p>Bacon ipsum dolor amet pariatur esse in, strip steak pork pastrami proident culpa in cillum fugiat ut turkey. Cow pork loin minim duis, labore ball tip ipsum swine in eiusmod dolore kevin ad. Pariatur filet mignon ham hock, sed eiusmod in pork chop fatback chuck. Tail ut cillum shank laboris meatball. Tenderloin enim ground round chuck incididunt officia. Ipsum tempor turkey andouille.</p>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <h3>User Input</h3>
            Starting Point:
            <select class="form-control">
                <option>GEO/GTO</option>
                <option>Earth Escape</option>
            </select>
            <div class = "divider"></div>
            Target:
            <select class="form-control">
                <option>Earth</option>
                <option>Mercury</option>
                <option>Mars</option>
                <option>Venus</option>
                <option>Moon</option>
            </select>
            <div class = "divider"></div>
            Type of Systems:
            <select class="form-control">
                <option>Sail</option>
                <option>Thruster</option>
                <option>All</option>
            </select>
            <div class = "divider"></div>
            Orbital Angle Change:
            <div class="input-group">
                <input type="text" class="form-control" placeholder="100" data-ng-model="angle" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">deg</span>
            </div>
            <div class = "divider"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Orbit Type - Circular:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Low: 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Medium:
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        High: 
                                </label>
                            </div>
                            <div class="form-inline">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="100" data-ng-model="angle" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">deg</span>
                                            </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Orbit Type - Elliptical:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Apoapsis: <div class="input-group">
                                                <input type="text" class="form-control" placeholder="100" data-ng-model="angle" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">deg</span>
                                            </div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Periapsis:<div class="input-group">
                                                <input type="text" class="form-control" placeholder="100" data-ng-model="angle" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">deg</span>
                                            </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>Calculation Results</h3>
            DV:<input class="form-control" placeholder="100" data-ng-model="altitude"/>
            <div class = "divider"></div>
            DV Capture:<input class="form-control" placeholder="10" data-ng-model="resolution"/>
        </div>
        
        
        <div class="col-lg-12">
            <div id="button">
                <button type="button" class="btn btn-primary" ng-click="myClick()" ng-disabled="loading">
                    <span ng-show="loading">Searching...</span>
                    <span ng-hide="loading">Search Database</span>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Search Results</h3>
            <h6>Click on the link of each subsystem to learn more.</h6>
            <div class = "dividersmall"></div>
            <select multiple class="form-control">
                <option></option>
            </select>
        </div>
        <!--<div class="col-lg-4">
            <h3>Search Filters</h3>
            <div class = "dividersmall"></div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Attitude Control System
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Sensor and/or Actuator
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        No Filter
                </label>
            </div>
        </div>-->
        <div class="col-lg-12">
            <div class = "divider"></div>
            <div id="button">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" href="/tool2" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                    <a type="button" href="/tool4" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "divider"></div>
    <hr>
    <% include footer %>
    <div class = "divider"></div>
</body>

</html>