#loginaddon {
    min-width:50px;
    text-align:left;
}
.activeButton {
    background-color:#000;
}
.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}
[class^='ion-'] {
    font-size: 1.2em;
}
.has-feedback .form-control {
    padding-left: 42px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0.5em 1.0em;
    background: white;
    border-radius: 7px;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #8CF;
    color: #222;
}
.button:active,
.button.is-checked {
    background-color: #28F;
}
.button.is-checked {
    color: white;
}
.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    position: relative;
    float: left;
    width: 150px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    background: red;
    color: white;
    font-size: 30px;
}
.grid-item--width2 { width: 200px; }
.grid-item--width3 { width: 250px; }
.grid-item--width4 { width: 340px; }
.grid-item--width5 { width: 1130px; height:600px;}
.grid-item--width6 { width: 1130px; height:600px;}
.grid-item--width7 { width: 1130px; height:600px;}
.grid-item--width8 { width: 1130px; height:730px;}
.grid-item--width9 { width: 1130px; height:420px;}
.grid-item--width10 { width: 1130px; height:100%; display:inline-block;}
.grid-item:nth-child(10n+9) { background: hsl(   0, 50%, 50%); }
.grid-item:nth-child(10n+8) { background: hsl(  36, 50%, 50%); }
.grid-item:nth-child(10n+7) { background: hsl(  72, 50%, 50%); }
.grid-item:nth-child(10n+6) { background: hsl( 108, 50%, 50%); }
.grid-item:nth-child(10n+5) { background: hsl( 144, 40%, 50%); }
.grid-item:nth-child(10n+4) { background: hsl( 180, 50%, 30%); }
.grid-item:nth-child(10n+3) { background: hsl( 216, 50%, 30%); }
.grid-item:nth-child(10n+2) { background: hsl( 252, 50%, 30%); }
.grid-item:nth-child(10n+1) { background: hsl( 288, 50%, 30%); }
.grid-item:nth-child(10n+0) { background: hsl( 324, 50%, 30%); }
.container #parallax {
    max-width: 960px;
    margin: 0 auto;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    /*font-family: "Roboto Slab", serif;*/
    font-size: 30px;
}
section.module h3 {
    margin-bottom: 30px;
    /*font-family: "Roboto Slab", serif;*/
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax-large {
    height:700px;
}
section.module.parallax-small {
    height: 400px;
}
section.module.parallax h1 {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 300px;
    font-weight: 350px;
}
section.module.parallax h3 {
    color: white;
    text-align: center;
}
section.module.parallax p {
    color: white;
    text-align: center;
}
section.module.parallax-1 {
    background-image: url("/img/cubesat2.jpg");
}
section.module.parallax-2 {
    background-image: url("/img/cubesat3dark.jpg");
}
section.module.parallax-3 {
    background-image: url("/img/cubesat.jpg");
}
section.module.parallax-4 {
    background-image: url("/img/cubesat5.png");
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 80px;
    }
}
#myDiv {
    word-wrap: break-word;
}
.card {
    position: relative;
    float: right;
    padding-bottom: 60%;
    width: 60%;
    text-align: center;
}
.card:nth-child(1) {
    margin-left: -3px;
    margin-right: 1px;
}
.card:nth-child(2),
.card:nth-child(3) {
    margin-right: 1px;
}
.card__front,
.card__back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.card__front {
    margin-left:34px;
    margin-top:30px;
    font-size:20px;
    width:110%;
    height:110%;
    border-radius:50%;
    background-color: #99CCFF;
}
.card__back {
    margin-bottom:120px;
    width:160%;
    height:160%;
    border-radius:50%;
    background-color: #003366;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card__text {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    line-height: 30px;
}
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.rcard {
    position: relative;
    float: left;
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
}
.rcard:nth-child(1) {
    margin-left: -3px;
    margin-right: 1px;
}
.rcard:nth-child(2),
.rcard:nth-child(3) {
    margin-right: 1px;
}
.rcard__front,
.rcard__back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.rcard__front,
.rcard__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.rcard__front {
    background-color: #1e1e1e;
}
.rcard__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.rcard__text {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 20px;
    color: #fff;
    line-height: 50px;
}
.rcard.effect__hover:hover .rcard__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.rcard.effect__hover:hover .rcard__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.glyph {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
.tab-content.hide{
    display: none;
}
.tab-content.active{
    display: block;
}
body { 
    padding-top: 50px; 
}
#home {
    padding-top: 0px;
}
#rcorners {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    width: 200px;
    margin-top: 60px;  
}
#rcorners2 {
    text-align:center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    width: 52px;
    height: 52px;
    margin-top: 60px;  
}
#rcorners3 {
    text-align:center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    width: 52px;
    height: 52px;
    margin-top: 19px;  
}
#circles {
    text-align:center;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    width:170px;
    height:170px;
    border-radius:50%;
    padding-top:65px;
    padding-left:0px;
    padding-right:0px;
    margin-left: auto;
    margin-right: auto;
}
#round {
    border-radius: 25px;
}
a {
    color: #FFFFFF;
}
#pushdown1 {
    margin-left:-7px;
    margin-top:110px;
}
#pushdown3 {
    top:115px;
}

#pushdown4 {
    top:160px;
}

#pushdown5 {
    top:130px;
}
#pushdown2 {
    margin-left:-7px;
    margin-top:20px;
}
#nobottom {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#nav {
    width: 95%;
    position: absolute;
    top: 0;
}
#indexjumbo { 
    color: white;
    margin-top: 100px; 
    text-align:center;
    margin-bottom:90px; 
}
#paper1 { 
    color: white;
    margin:0x;
    height:800px;
    padding-top:50x;
    padding-bottom:50px;
    background: #7A5DC7;
}
#paper2 { 
    color: white;
    margin:0x;
    height:800px;
    padding-top:50x;
    padding-bottom:50px;
    background: #CCCCFF;
}
#space {
    padding-top:50px;
}
#user {
	float:left;
}
#calculation {
	float:right;
}
#search {
	text-align: right;	
}
#button {
	text-align: center;	
}
.divider{
    margin-bottom:30px;
    height:auto;
    display:inline-block;
}
.dividertiny{
    margin-bottom:3px;
}
.dividertinier{
    margin-bottom:1px;
}
.dividersmall{
    margin-bottom:10px;
    height:auto;
    display:inline-block;
}
.dividerlarge{
    margin-bottom:25px;
    height:auto;
    display:inline-block;
}
.dividerlarger{
    margin-bottom:42px;
    height:auto;
    display:inline-block;
}
.dividerlargest{
    margin-bottom:90px;
    height:auto;
    display:inline-block;
}
.dividerbiggest{
    margin-bottom:70px;
    height:auto;
    display:inline-block;
}
.modal {
    display: block;
}
